<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css" />

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>


<style>
    .star_img{
        width: 20px;
    }
</style>
<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">



                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        城市合伙人 <small>详细</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">{$list.title}</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">


                <div class="row-fluid">

                    <div class="span6">

                        <!-- BEGIN SAMPLE TABLE PORTLET-->

                        <div class="portlet">


                            <a href="{:U('home/'.$at.'/plus/edit/'.$list['id'])}" class="btn blue"><i class="icon-edit"></i> 修改</a>

                            <div class="portlet-body">

                                <table class="table table-striped table-bordered table-advance table-hover">

                                    <thead>

                                    <tr>

                                        <th style="width: 100px;"><i class="icon-briefcase"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 选项</font></font></th>

                                        <th ><i class="icon-flag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 数值</font></font></th>

                                    </tr>

                                    </thead>

                                    <tbody>





                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">绑定用户</font></font></a>
                                        </td>
                                        <td>
                                            {$list.user_name}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">昵称</font></font></a>
                                        </td>
                                        <td>
                                            {$list.name}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登录账号</font></font></a>
                                        </td>
                                        <td>
                                            {$list.username}
                                        </td>
                                    </tr>








                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建时间</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {$list.create_time|date="Y-m-d H:i:s",###}</font></font></td>
                                    </tr>




                                    </tbody>

                                </table>

                            </div>

                        </div>

                        <!-- END SAMPLE TABLE PORTLET-->

                    </div>



                </div>

                <div class="clearfix"></div>
                <a href="javascript:fahuo(0)" id="sample_editable_1_new" class="btn green">

                    新增城市 <i class="icon-plus"></i>

                </a>
                <hr>

                <div class="portlet-body" style="width: 80%;">
                    <p>
                        绑定城市
                    </p>

                        <table class="table table-bordered table-hover tc_table" style="text-align: center!important;" >

                            <thead>
                            <th>序号</th>
                            <th>省份</th>
                            <th>城市</th>
                            <th>商城订单返利比例</th>
                            <th>机构买单返利比例</th>
                            <th>开通团队返利比例</th>
                            <th>购买优惠券返利比例</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                                <foreach name="list.city_list" item="v" key="key">
                                    <tr>
                                        <td>{$key+1}</td>
                                        <td>{$v.info.province}</td>
                                        <td>{$v.info.city}</td>
                                        <td>{$v.shop_order_odds} %</td>
                                        <td>{$v.hospital_order_odds} %</td>
                                        <td>{$v.team_odds} %</td>
                                        <td>{$v.ticket_odds} %</td>
                                        <td>
                                            <a href="javascript:fahuo('{$v.id}','{$v.shop_order_odds}','{$v.hospital_order_odds}','{$v.team_odds}','{$v.ticket_odds}')" class="btn green"> 修改</a>
                                            <a href="JavaScript:_deleteUser('{$v.id}','城市','city_admin_city');" class="btn red"> 删除</a>
                                        </td>
                                    </tr>
                                </foreach>
                            </tbody>
                        </table>


                </div>

                <div class="clearfix"></div>

                <div class="portlet-title">


                <!--    <a href="<?php echo U('home/'.$at.'/plus2/edit/'.$is_edit);?>" id="sample_editable_1_new" class="btn green">

                        新增套餐 <i class="icon-plus"></i>

                    </a>-->



                </div>



                    <!-- BEGIN CONDENSED TABLE PORTLET-->





        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

    <!-- modal -->
    <div class="modal fade" id = 'modal_fahuo' style="display: none;">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                    <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                    <h4 class="modal-title" id='modal_fahuo_title'>新增城市</h4>
                </div>
                <div class="modal-body">


                    <form action="#" class="form-horizontal">

                        <div class="control-group" id="province_div">

                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">请选择省份</font></font></label>

                            <div class="controls" >
                                <select  onchange="changeprovince()" name="province" class="m-wrap">
                                    <option value="0" >请选择省份</option>
                                    <foreach name="province_list" item="v">
                                        <option <if condition="$list['province'] eq $v['province']"> selected </if> value="{$v.province}" >{$v.province}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="control-group" id="city_div">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">请选择城市</font></font></label>
                            <div class="controls">
                                <select id="city_id" name="city_id" class="m-wrap">
                                    <option value="0" >请选择城市</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">商城订单返利比例</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="商城订单返利比例" name="shop_order_odds"  value="" class="m-wrap medium">%
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">机构买单返利比例</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="机构买单返利比例" name="hospital_order_odds"  value="" class="m-wrap medium">%
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">开通团队返利比例</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="开通团队返利比例" name="team_odds"  value="" class="m-wrap medium">%
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">购买优惠券返利比例</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="购买优惠券返利比例" name="ticket_odds"  value="" class="m-wrap medium">%
                            </div>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn green" id='modal_fahuo_yes'  style='margin-left:9px'>确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./modal -->




    <!-- END CONTAINER -->
<include file="common/footer"/>
    <include file="common/tz"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script>
    var id = '<?php echo $list["id"];?>';
    $("#uploadImage").on("change", function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test( files[0].type)){

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function(){

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='"+this.result+"'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display','inline-block');
                $('.del_img_btn').show().css('display','inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });
    function EditAll(id,str,title,db,value){

        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定要 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }



    function changeprovince(){
        var province = $.trim($("*[name='province']").val());
        $('#city_id').html(' <option value="" >请选择城市</option>');
        if(province!=0){
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: "<?php echo U('home/'.$at.'/checkcity'); ?>",
                data:{province:province},
                success: function (result) {
                    if(result.code == 1){
                        $.each(result.list,function(index,value){
                            $('#city_id').append(' <option value="'+value.id+'" >'+value.city+'</option>');
                        });
                    }
                }
            });
        }else{

        }
    }

    function fahuo(edit_id,s_odds='',h_odds='',t_odds='',ti_odds=''){
       $("*[name='shop_order_odds']").val(s_odds);
       $("*[name='hospital_order_odds']").val(h_odds);
       $("*[name='team_odds']").val(t_odds);
       $("*[name='ticket_odds']").val(ti_odds);
        $('#province_div').show();
        $('#city_div').show();
       if(edit_id!=0){
           $('#province_div').hide();
           $('#city_div').hide();
       }
        $('#modal_fahuo').modal('show');
        $('#modal_fahuo_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            SubmitFaHuo(edit_id);
        };
    }


    function SubmitFaHuo(edit_id){
        var city_id = 0;
        var shop_order_odds = $.trim($("*[name='shop_order_odds']").val());
        var hospital_order_odds = $.trim($("*[name='hospital_order_odds']").val());
        var team_odds = $.trim($("*[name='team_odds']").val());
        var ticket_odds = $.trim($("*[name='ticket_odds']").val());
        if(edit_id==0){
             city_id = $.trim($("*[name='city_id']").val());
            if(city_id==0){
                showAlert("请选择城市");
                return false;
            }
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editcity'); ?>",
            data:{id:id,edit_id:edit_id,city_id:city_id,s_odds:shop_order_odds,h_odds:hospital_order_odds,t_odds:team_odds,ti_odds:ticket_odds},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }



    var parent_url = "<?php echo U('home/user/index');?>";

    function to_gen(){
        window.location.href = parent_url;
    }

    function EditCheckbox(id){
        var str ;
        if($('.tuijian'+id).is(':checked')) {
            str =1;
        }else{
            str=0;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/edittuijian'); ?>",
            data:{id:id,str:str},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });
    }

    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function ClearImg(){
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }


    function UploadImg(){
        var img = "";
        var file = $("#uploadImage").val();
        if(file==""){
            SubmitData("");
        }


        else{
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".")+1);
            if(fileType!="png"&&fileType!="jpg" &&fileType!="jpeg"){
                showAlert("上传文件格式错误");
                return false;
            }
            else{
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url:url,
                    fileElementId:"uploadImage",        //file的id
                    dataType:"json",                  //返回数据类型为文本
                    success:function(res){
                        if(res){
                            img = res;

                            SubmitData(img);
                        }else{
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    function SubmitData(){

        var name = $.trim($("*[name='name']").val());
        var phone = $.trim($("*[name='phone']").val());
        var location = $.trim($("*[name='location']").val());
        var parent = $.trim($("*[name='parent']").val());
        var price = $.trim($("*[name='price']").val());
        var ku_num = $.trim($("*[name='ku_num']").val());

        if(!name){
            showAlert("请输入明细账单名称");
            return false;
        }

        if(!phone){
            showAlert("请输入手机号");
            return false;
        }
        if(!location){
            showAlert("请输入地址");
            return false;
        }



        $('#js_btn').attr('disabled',true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/user/add'); ?>",
            data:{name:name,phone:phone,location:location,parent:parent,price:price,ku_num:ku_num,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.href= parent_url;
                }else if(result.code==0){
                    showAlert(result.res);
                    $('#js_btn').attr('disabled',false);
                }else{
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled',false);
                }
            }
        });

    }

</script>