<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>{$list.title}</title>
    <style>
        html,body{
            margin: 0;
            padding: 0;
        }
        #content img {
            width: 100%!important;;
            outline-width:0px;
            vertical-align:top;
        }
        #content iframe{
            width: 100%;
            height: 500px;
        }

    </style>
</head>
<body>

<div style="padding: 0 10px;margin-top: 10px;">
    <div id="content" style="width: 100%;max-width: 1000px;margin: 0 auto;">
        {$list.content}
    </div>
</div>

</body>
</html>