<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/duoimg/css/globle.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css" />

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>



<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">



                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$title} <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">游戏</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#"><?php echo $is_edit?'修改'.$title:'新增'.$title;?></a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">



                <div class="row-fluid">

                    <div class="span12">

                        <!-- BEGIN PORTLET-->

                        <div class="portlet box">



                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->

                                <form action="<?php echo U('home/GameAdd/upload_thumb');?>" class="form-horizontal">

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏名称</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏名称" name="name"  value="{$list.name}" class="m-wrap medium">
                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏信息</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏简介" name="info"  value="{$list.info}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <?php if($is_edit){?>
                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏logo</font></font></label>

                                        <div class="controls">

                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="dan_upload_img_div1" style="border: none;;">
                                                    <img src="<?php echo $list['logo'];?>" style="max-height: 150px;border:1px solid #ddd;" alt=""/>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <?php }?>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><?php echo $is_edit?'修改游戏logo':'上传游戏logo';?></font></font></label>


                                        <div class="controls">
                                            <div id="upload_kuang"  class="dan_upload_img_div1">
                                                <div id="uploadPreview">

                                                </div>
                                            </div>

                                            <label class="on_img_btn" for="uploadImage" style="display: inline;"> <span  class="btn btn-default" style="">选择图片</span></label>
                                            <label class="change_img_btn" for="uploadImage" style="display: none;"> <span  class="btn btn-default" style="">更改</span></label>
                                            <label class="del_img_btn" style="display: none;" onclick="ClearImg()"> <span  class="btn btn-default" style="">删除</span></label>
                                            <input id="uploadImage" style="" type="file"  name="photoimage" class="fimg1"  />
                                        </div>
                                    </div>


                                    <?php if($is_edit){?>

                                    <div class="control-group " >

                                        <label class="control-label">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">原有游戏banner</font></font></label>

                                        <div class="controls">

                                            <foreach name="banner_list" item="k">
                                                <a style="position: relative;" class="fancybox-button" data-rel="fancybox-button" title="" href="{$k.img_url}">
                                                    <img src="{$k.img_url}" class="" style="width: 80px;height: 80px;" alt="">
                                                    <div style="position: absolute;top:10px;right: 5px;">
                                                        <i class="icon-trash" onclick="_deleteUser('{$k.id}','游戏Banner','game_banner');" style="font-size: 22px;color:#f00;"></i>
                                                    </div>
                                                </a>

                                            </foreach>


                                        </div>

                                    </div>
                                    <?php }?>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏banner</font></font></label>

                                        <div class="controls">
                                            <ul class="upload-ul clearfix">
                                                <li class="upload-pick">
                                                    <div class="webuploader-container clearfix" id="goodsUpload"></div>
                                                </li>
                                            </ul>
                                            <p><a class="upload-btn" href="javascript:;">上传图片</a></p>
                                        </div>

                                    </div>



                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏评分</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏评分" name="grade"  value="{$list.grade}" class="m-wrap medium">
                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏大小</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏大小" name="size"  value="{$list.size}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏分类</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏分类（eg：角色）" name="classify"  value="{$list.classify}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏公测/内测</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入游戏公测/内测" name="beta"  value="{$list.beta}" class="m-wrap medium">
                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">排序</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入序号" name="sort"  value="{$list.sort}" class="m-wrap medium">
                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">游戏详情</font></font></label>

                                        <div class="controls">
                                            <style>
                                                .toolbar {
                                                    border: 1px solid #ccc;
                                                }
                                                .text {
                                                    border: 1px solid #ccc;
                                                    height: 500px;
                                                }
                                            </style>

                                            <div id="div1" class="toolbar">
                                            </div>


                                            <div id="div2" class="text"> <!--可使用 min-height 实现编辑区域自动增加高度-->
                                                {$list.content}
                                            </div>

                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是否显示</font></font></label>

                                        <div class="controls">

                                            <label class="radio">
                                                <div class="radio"><span><input type="radio" name="optionsRadios2" <if condition="$list['is_show'] eq 0"> checked="" </if>   value="0"></span></div>
                                                否
                                            </label>
                                            <label class="radio">
                                                <div class="radio"><span class="checked"><input type="radio" name="optionsRadios2" <if condition="$list['is_show'] eq 1"> checked="" </if> value="1"></span></div>
                                                是
                                            </label>


                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是否在首页显示</font></font></label>

                                        <div class="controls">

                                            <label class="radio">
                                                <div class="radio"><span><input type="radio" name="optionsRadios1" <if condition="$list['is_home'] eq 0"> checked="" </if>   value="0"></span></div>
                                                否
                                            </label>
                                            <label class="radio">
                                                <div class="radio"><span class="checked"><input type="radio" name="optionsRadios1" <if condition="$list['is_home'] eq 1"> checked="" </if> value="1"></span></div>
                                                是
                                            </label>


                                        </div>

                                    </div>

                                    <hr>
                                    <p>安卓设置：</p>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">版本号</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入安卓版本号" name="android_versions"  value="{$list.android_versions}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">包名</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入安卓包名" name="android_bao"  value="{$list.android_bao}" class="m-wrap medium">
                                        </div>

                                    </div>



                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下载地址（APK文件地址）</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入APK文件下载地址" name="android_url"  value="{$list.android_url}" class="m-wrap medium">
                                        </div>

                                    </div>



                                    <hr>
                                    <p>ios设置：</p>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">苹果商店地址</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入苹果商店地址" name="ios_url"  value="{$list.ios_url}" class="m-wrap medium">
                                        </div>

                                    </div>



                                    <div class="form-actions">

                                        <button type="button" id="js_btn"  class="btn blue"><i class="icon-ok"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 保存</font></font></button>

                                        <button type="button" onclick="to_gen()" class="btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button>



                                    </div>

                                </form>

                                <!-- END FORM-->

                            </div>

                        </div>

                        <!-- END PORTLET-->

                    </div>

                </div>


                <div class="clearfix"></div>





            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->
<include file="common/footer"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script type="text/javascript" src="__PUBLIC__/wangEditor/release/wangEditor.min.js"></script>
<script src="__PUBLIC__/duoimg/js/webuploader.min.js"></script>
<script src="__PUBLIC__/duoimg/js/diyUpload.js"></script>
<script>


    var img_arr = new Array();
    var img_i = 0;
    $(function(){

        //上传图片
        var $tgaUpload = $('#goodsUpload').diyUpload({
            url:"<?php echo U('home/Upload/upload_duo');?>",
            success:function( data ) {

                img_arr[img_i]  = data.res;
                console.log(img_arr);
                img_i++;
            },
            error:function( err ) { },
            buttonText : '',
            accept: {
                title: "Images",
                extensions: 'gif,jpg,jpeg,bmp,png'
            },
            /*fileNumLimit:3,*/
            thumb:{
                width:120,
                height:90,
                quality:100,
                allowMagnify:true,
                crop:true,
                type:"image/jpeg"
            }
        });

        $(".upload-btn").click(function(){ $tgaUpload.upload(); });
    });



    var E = window.wangEditor
    var editor = new E('#div1', '#div2')
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = "{:U('home/upload/upload')}"
    editor.customConfig.uploadFileName = 'fileData'


    editor.customConfig.linkImgCheck = function (src) {
        console.log(src) // 图片的链接

        return true // 返回 true 表示校验成功
        // return '验证失败' // 返回字符串，即校验失败的提示信息
    }
    editor.customConfig.linkCheck = function (text, link) {
        console.log(text) // 插入的文字
        console.log(link) // 插入的链接

        return true // 返回 true 表示校验成功
        // return '验证失败' // 返回字符串，即校验失败的提示信息
    }
    editor.customConfig.linkImgCallback = function (url) {
        console.log(url) // url 即插入图片的地址
    }

    document.getElementById('js_btn').addEventListener('click', function () {
        // 读取 html
        //alert(editor.txt.html())
        UploadImg(editor.txt.html())
    }, false)

    // 或者 var editor = new E( document.getElementById('editor') )
    editor.create();


    var is_Edit = '<?php echo $is_edit;?>';
    $("#uploadImage").on("change", function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test( files[0].type)){

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function(){

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='"+this.result+"'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display','inline-block');
                $('.del_img_btn').show().css('display','inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });


    /*$('input:radio[name="optionsRadios1"]').change( function(){
        $('.show_all').hide();
        if($(this).val()==1 || $(this).val()==2){
            $('.show_'+$(this).val()).show();
        }
    })
*/

    function ClearImg(){
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }


    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function UploadImg(content){
        var img = "";
        var file = $("#uploadImage").val();
        if(file==""){
            SubmitData(content,"");
        }


        else{
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".")+1);
            if(fileType!="png"&&fileType!="jpg" &&fileType!="jpeg"){
                showAlert("上传文件格式错误");
                return false;
            }
            else{
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url:url,
                    fileElementId:"uploadImage",        //file的id
                    dataType:"json",                  //返回数据类型为文本
                    success:function(res){
                        if(res){
                            img = res;

                            SubmitData(content,img);
                        }else{
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    var parent_url = "<?php echo U('home/'.$at.'/index');?>";

    function to_gen(){
        window.location.href = parent_url;
    }

    function SubmitData(content,img){
        var name = $.trim($("*[name='name']").val());
        var info = $.trim($("*[name='info']").val());
        var grade = $.trim($("*[name='grade']").val());
        var classify = $.trim($("*[name='classify']").val());
        var size = $.trim($("*[name='size']").val());
        var beta = $.trim($("*[name='beta']").val());
        var sort = $.trim($("*[name='sort']").val());
        var android_versions = $.trim($("*[name='android_versions']").val());
        var android_bao = $.trim($("*[name='android_bao']").val());
        var android_url = $.trim($("*[name='android_url']").val());
        var ios_url = $.trim($("*[name='ios_url']").val());
        var is_home = $("input[name='optionsRadios1']:checked").val();
        var is_show = $("input[name='optionsRadios2']:checked").val();

        if (!name){showAlert("请输入游戏名称");return false;}
        if (!info){showAlert("请输入游戏信息");return false;}
        if (!grade){showAlert("请输入游戏评分");return false;}
        if (!size){showAlert("请输入游戏大小");return false;}
        if (!classify){showAlert("请输入游戏分类");return false;}
        if (!android_versions){showAlert("请输入安卓版本号");return false;}
        if (!android_bao){showAlert("请输入安卓版包名");return false;}
        if (!android_url){showAlert("请输入安卓版APK地址");return false;}


        if(!img && !is_Edit){
            showAlert("请上传游戏LOGO");
            return false;
        }


        var img_leng = $(".diyControl").length;
        var img_arr_count = img_arr.length;
        if(img_leng!=img_arr_count){
            showAlert("请先点击上传图片后在保存");
            return false;
        }

        if(img_arr_count>0){

        }else{
            img_arr ='';
        }



        $('#js_btn').attr('disabled',true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/'.$at.'/add'); ?>",
            data:{img:img,
                name:name,
                info:info,
                grade:grade,
                classify:classify,
                size:size,
                beta:beta,
                sort:sort,
                android_versions:android_versions,
                android_bao:android_bao,
                android_url:android_url,
                ios_url:ios_url,
                is_home:is_home,
                is_show:is_show,
                content:content,
                img_arr:img_arr,
                is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.href= parent_url;
                }else if(result.code==0){
                    showAlert(result.res);
                    $('#js_btn').attr('disabled',false);
                }else{
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled',false);
                }
            }
        });

    }

</script>