<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css"/>

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>


<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>


    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">


                    <!--颜色选择-->
                    <include file="common/color"/>


                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$title}
                        <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#"><?php echo $is_edit?'修改'.$title:'新增'.$title;?></a></li>


                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">


                <div class="row-fluid">

                    <div class="span12">

                        <!-- BEGIN PORTLET-->

                        <div class="portlet box">


                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->

                                <form action="<?php echo U('home/GameAdd/upload_thumb');?>" class="form-horizontal">



                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">背景图</font></font></label>


                                        <div class="controls">
                                            <div id="upload_kuang"  <if condition="!$is_edit and !$list['cover']">class="dan_upload_img_div1"</if>>
                                            <div id="uploadPreview">
                                                <if condition="$is_edit and $list['cover']">
                                                    <img src="{$list.cover}" style="max-height: 150px;border:1px solid #ddd;" alt=""/>
                                                </if>
                                            </div>

                                        </div>

                                        <label class="on_img_btn" for="uploadImage" style="display: inline;"> <span  class="btn btn-default" style="">
                                                <if condition="!$is_edit and !$list['cover']">
                                                    选择图片
                                                    <else/>
                                                    更改图片
                                                </if>

                                            </span></label>
                                        <label class="change_img_btn" for="uploadImage" style="display: none;"> <span  class="btn btn-default" style="">更改</span></label>
                                        <label class="del_img_btn" style="display: none;" onclick="ClearImg()"> <span  class="btn btn-default" style="">删除</span></label>
                                        <input id="uploadImage" style="" type="file"  name="photoimage" class="fimg1"  />
                                    </div>
                            </div>



                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">选择商品一</font></font></label>

                                        <div class="controls">
                                            <span id="show_xz_span1"></span>
                                            <a href="JavaScript:binduser(1)" class="btn blue"><i
                                                    class="icon-plus"></i> <span id="xz_a_span1">选择</span></a>
                                        </div>
                                    </div>

                                <div class="control-group">

                                <label class="control-label"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">选择商品二</font></font></label>

                                <div class="controls">
                                    <span id="show_xz_span2"></span>
                                    <a href="JavaScript:binduser(2)" class="btn blue"><i
                                            class="icon-plus"></i> <span id="xz_a_span2">选择</span></a>
                                </div>
                                </div>

                            <div class="control-group">

                                <label class="control-label"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">选择商品三</font></font></label>

                                <div class="controls">
                                    <span id="show_xz_span3"></span>
                                    <a href="JavaScript:binduser(3)" class="btn blue"><i
                                            class="icon-plus"></i> <span id="xz_a_span3">选择</span></a>
                                </div>
                            </div>



                            <div class="control-group">

                                <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">排序</font></font></label>

                                <div class="controls">
                                    <input type="text" placeholder="请输入序号" name="sort"  value="{$list.sort}" class="m-wrap medium">
                                </div>

                            </div>

                                    <div class="form-actions">

                                        <button type="button" id="js_btn" onclick="UploadImg()" class="btn blue"><i
                                                class="icon-ok"></i><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;"> 保存</font></font></button>

                                        <button type="button" onclick="to_gen()" class="btn"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font>
                                        </button>


                                    </div>

                                </form>

                                <!-- END FORM-->

                            </div>

                        </div>

                        <!-- END PORTLET-->

                    </div>

                </div>


                <div class="clearfix"></div>


            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- modal -->
<div class="modal fade" id='modal_bind' style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_bind_title'>搜索商品</h4>
            </div>
            <div class="modal-body">


                <form action="#" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" style="width: 80px;"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">当前选择</font></font></label>
                        <div class="controls" style="margin-left: 100px;">
                            <p style="padding-top: 7px;color: #f00;" id="xz_p">暂无选择</p>
                            <table style="width: 100%;line-height: 25px;display: none;" id="xz_table" border="1">
                                <tr>
                                    <th style="width: 30px;" id="xz_id"></th>
                                    <th id="xz_name"></th>
                                    <th style="width: 120px;" id="xz_shop"></th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">搜索商品</font></font></label>
                        <div class="controls">
                            <input type="text" placeholder="搜索商品名称" name="search_val" value="" class="m-wrap medium">
                            <button type="button" class="btn green" onclick="SearchGoods()" style='margin-left:9px'>搜
                                索
                            </button>
                        </div>
                    </div>

                    <style>
                        .zdy_a {
                            display: block;
                            width: 12px;
                            height: 12px;
                            border: 2px solid #ccc;
                            border-radius: 50%;
                            text-decoration: none;
                            margin: 0 auto;
                        }

                        a.zdy_a:link, a.zdy_a:visited, a.zdy_a:hover, a.zdy_a:active {
                            text-decoration: none;
                        }

                        .zdy_a_active {
                            background: #333;
                        }
                    </style>
                    <div class="control-group">

                        <div style="height: 270px;overflow-y: auto;">
                            <table style="width: 100%;text-align: center;line-height: 40px;" border="1">
                                <tr>
                                    <th style="width: 70px;">商品ID</th>
                                    <th>商品名称</th>
                                    <th style="width: 120px;">所属店铺</th>
                                    <th style="width: 50px;">选择</th>
                                </tr>

                                <tbody id="search_tbody">

                                </tbody>


                            </table>
                        </div>

                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn green"
                        data-dismiss="modal">确 定
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->


<!-- END CONTAINER -->
<include file="common/footer"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script>
    var is_Edit = '<?php echo $is_edit;?>';
    $("#uploadImage").on("change", function () {
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test(files[0].type)) {

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function () {

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='" + this.result + "'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display', 'inline-block');
                $('.del_img_btn').show().css('display', 'inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });


    var now_id = 1;
    var xz_id1 = "{$goods_info1.id}";
    var xz_name1 = "{$goods_info1.name}";
    var xz_shop1 = "{$goods_info1.shop_name}";

    var xz_id2 = "{$goods_info2.id}";
    var xz_name2 = "{$goods_info2.name}";
    var xz_shop2 = "{$goods_info2.shop_name}";


    var xz_id3 = "{$goods_info3.id}";
    var xz_name3 = "{$goods_info3.name}";
    var xz_shop3 = "{$goods_info3.shop_name}";
    $(function(){
        if(xz_id1!='0'){
            $('#xz_p').hide();
            $('#xz_table').show();
            $('#xz_id').html(xz_id1);
            $('#xz_name').html(xz_name1);
            $('#xz_shop').html(xz_shop1);
            $('#show_xz_span1').html("当前选择：《 "+xz_name1+" 》    ");
            $('#xz_a_span1').html('更改');
        }
        if(xz_id2!='0'){
            $('#show_xz_span2').html("当前选择：《 "+xz_name2+" 》    ");
            $('#xz_a_span2').html('更改');
        }
        if(xz_id3!='0'){
            $('#show_xz_span3').html("当前选择：《 "+xz_name3+" 》    ");
            $('#xz_a_span3').html('更改');
        }
    })


    $('input:radio[name="optionsRadios1"]').change(function () {
        $('.show_all').hide();
        /* if($(this).val()==1 || $(this).val()==2){
             $('.show_'+$(this).val()).show();
         }*/
        $('.show_' + $(this).val()).show();
    })


    function binduser(id) {
        now_id = id;
        $('.zdy_a').removeClass('zdy_a_active');
        if(now_id==1){
            $('#xz_id').html(xz_id1);
            $('#xz_name').html(xz_name1);
            $('#xz_shop').html(xz_shop1);
            $('.zdy_a_' + xz_id1).addClass('zdy_a_active');
        }
        if(now_id==2){
            $('#xz_id').html(xz_id2);
            $('#xz_name').html(xz_name2);
            $('#xz_shop').html(xz_shop2);
            $('.zdy_a_' + xz_id2).addClass('zdy_a_active');
        }
        if(now_id==3){
            $('#xz_id').html(xz_id3);
            $('#xz_name').html(xz_name3);
            $('#xz_shop').html(xz_shop3);
            $('.zdy_a_' + xz_id3).addClass('zdy_a_active');
        }

        $('#modal_bind').modal('show');
        /*$('#modal_bind_yes')[0].onclick = function () {
            //$('#modal_confirm').modal('hide');
            Submitbduser(id);
        };*/


    }


    function SearchGoods() {
        var search_val = $.trim($("*[name='search_val']").val());
        if (search_val == '') {
            showAlert("请输入要搜索的商品名");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/SearchGoods'); ?>",
            data: {search_val: search_val},
            success: function (result) {
                if (result.code == 1) {
                    $('#search_tbody').html('');
                    $.each(result.list, function (index, value) {
                        $('#search_tbody').append(' <tr>' +
                            '                        <td>' + value.id + '</td>' +
                            '                        <td>' + value.name + '</td>' +
                            '                        <td>' + value.shop_name + '</td>' +
                            '                        <td><a href="javascript:xzgoods(\'' + value.id + '\',\''+value.name+'\',\''+value.shop_name+'\')" class="zdy_a zdy_a_' + value.id + '">&nbsp;</a> </td>' +
                            '                        </tr>');
                    });


                } else {
                    $('#search_tbody').html('<tr>' +
                        '                    <td colspan="10">未找到相关商品</td>' +
                        '                        </tr>');

                }
            }
        });
    }


    function Submitbduser(doc_id) {
        var bind_id = $.trim($("*[name='bind_id']").val());
        if (bind_id == '') {
            showAlert("请输入要绑定的ID");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/BindUser'); ?>",
            data: {doc_id: doc_id, user_id: bind_id},
            success: function (result) {
                if (result.code == 1) {
                    showAlert(result.res);
                    window.location.reload();
                } else {
                    showAlert(result.res);
                }
            }
        });

    }


    function xzgoods(id,name,shop_name) {
        $('.zdy_a').removeClass('zdy_a_active');
        $('.zdy_a_' + id).addClass('zdy_a_active');
        $('#xz_p').hide();
        $('#xz_table').show();
        $('#xz_id').html(id);
        $('#xz_name').html(name);
        $('#xz_shop').html(shop_name);
        $('#show_xz_span'+now_id).html("当前选择：《 "+name+" 》    ");
        $('#xz_a_span'+now_id).html('更改');
        if(now_id==1){
            xz_id1 = id;
            xz_name1 = name;
            xz_shop1 = shop_name;
        }
        if(now_id==2){
            xz_id2 = id;
            xz_name2 = name;
            xz_shop2 = shop_name;
        }
        if(now_id==3){
            xz_id3 = id;
            xz_name3 = name;
            xz_shop3 = shop_name;
        }

    }


    function ClearImg() {
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }

    function UploadImg() {
        var img = "";
        var file = $("#uploadImage").val();
        if (file == "") {
            SubmitData("");
        }
        else {
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".") + 1);
            if (fileType != "png" && fileType != "jpg" && fileType != "jpeg") {
                showAlert("上传文件格式错误");
                return false;
            }
            else {
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url: url,
                    fileElementId: "uploadImage",        //file的id
                    dataType: "json",                  //返回数据类型为文本
                    success: function (res) {
                        if (res) {
                            img = res;

                            SubmitData(img);
                        } else {
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    var parent_url = "<?php echo U('home/'.$at.'/index');?>";

    function to_gen() {
        window.location.href = parent_url;
    }

    function SubmitData(img) {
        var sort = $.trim($("*[name='sort']").val());
        if(!img && !is_Edit){
            showAlert("请上传背景图");
            return false;
        }



        if (xz_id1=='0') {showAlert("请选择商品一");return false;}
        if (xz_id2=='0') {showAlert("请选择商品二");return false;}
        if (xz_id3=='0') {showAlert("请选择商品三");return false;}

        $('#js_btn').attr('disabled', true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/'.$at.'/add'); ?>",
            data: {
                img: img,
                sort: sort,
                xz_id1: xz_id1,
                xz_id2: xz_id2,
                xz_id3: xz_id3,
                is_edit: is_Edit
            },
            success: function (result) {
                if (result.code == 1) {
                    showAlert(result.res);
                    window.location.href = parent_url;
                } else if (result.code == 0) {
                    showAlert(result.res);
                    $('#js_btn').attr('disabled', false);
                } else {
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled', false);
                }
            }
        });

    }

</script>