<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css"/>

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>


<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>


    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">


                    <!--颜色选择-->
                    <include file="common/color"/>


                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$title}
                        <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#"><?php echo $is_edit?'修改'.$title:'新增'.$title;?></a></li>


                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">


                <div class="row-fluid">

                    <div class="span12">

                        <!-- BEGIN PORTLET-->

                        <div class="portlet box">


                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->

                                <form action="<?php echo U('home/GameAdd/upload_thumb');?>" class="form-horizontal">

                                    <div class="control-group">
                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">类型</font></font></label>
                                        <div class="controls">
                                            <label class="radio">
                                                <div class="radio"><span><input type="radio" name="optionsRadios1" <if
                                                        condition="$list['type'] eq 0 or $list['type'] eq 1"> checked="" </if>   value="1"></span>
                                                </div>
                                                根据时间（时间段内显示，不限制次数）
                                            </label>
                                            <label class="radio">
                                                <div class="radio"><span class="checked"><input type="radio"
                                                                                                name="optionsRadios1" <if
                                                        condition="$list['type'] eq 2"> checked="" </if> value="2"></span>
                                                </div>
                                                根据次数（设置显示次数，次数用完后不显示，不限制时间）
                                            </label>
                                        </div>
                                    </div>


                                    <div class="control-group show_all show_1" <if condition="$list['type'] eq 2"> style="display: none;"</if>>

                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">开始时间</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入显示开始时间" autocomplete="off" name="start_time"
                                            <if condition="$list['type'] eq 1"> value="{$list.start_time}"</if> class="m-wrap medium auto-kal" readonly>
                                        </div>

                                    </div>


                                    <div class="control-group show_all show_1" <if condition="$list['type'] eq 2"> style="display: none;"</if> >

                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">结束时间</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入显示结束时间" autocomplete="off" name="end_time"
                                            <if condition="$list['type'] eq 1"> value="{$list.end_time}"</if>  class="m-wrap medium auto-kal" readonly>
                                        </div>

                                    </div>


                                    <div class="control-group show_all show_2" <if condition="$list['type'] neq 2"> style="display: none;"</if> >

                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">
                                            显示次数
                                            <br>
                                            （无限次输入：0）
                                        </font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="无限次输入0" autocomplete="off" name="show_num"
                                                   value="{$list.show_num}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">选择商品</font></font></label>

                                        <div class="controls">
                                            <span id="show_xz_span"></span>
                                            <a href="JavaScript:binduser('','')" class="btn blue"><i
                                                    class="icon-plus"></i> <span id="xz_a_span">选择</span></a>
                                        </div>
                                    </div>


                                    <div class="form-actions">

                                        <button type="button" id="js_btn" onclick="SubmitData()" class="btn blue"><i
                                                class="icon-ok"></i><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;"> 保存</font></font></button>

                                        <button type="button" onclick="to_gen()" class="btn"><font
                                                style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font>
                                        </button>


                                    </div>

                                </form>

                                <!-- END FORM-->

                            </div>

                        </div>

                        <!-- END PORTLET-->

                    </div>

                </div>


                <div class="clearfix"></div>


            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- modal -->
<div class="modal fade" id='modal_bind' style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_bind_title'>搜索商品</h4>
            </div>
            <div class="modal-body">


                <form action="#" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" style="width: 80px;"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">当前选择</font></font></label>
                        <div class="controls" style="margin-left: 100px;">
                            <p style="padding-top: 7px;color: #f00;" id="xz_p">暂无选择</p>
                            <table style="width: 100%;line-height: 25px;display: none;" id="xz_table" border="1">
                                <tr>
                                    <th style="width: 30px;" id="xz_id"></th>
                                    <th id="xz_name"></th>
                                    <th style="width: 120px;" id="xz_shop"></th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">搜索商品</font></font></label>
                        <div class="controls">
                            <input type="text" placeholder="搜索商品名称" name="search_val" value="" class="m-wrap medium">
                            <button type="button" class="btn green" onclick="SearchGoods()" style='margin-left:9px'>搜
                                索
                            </button>
                        </div>
                    </div>

                    <style>
                        .zdy_a {
                            display: block;
                            width: 12px;
                            height: 12px;
                            border: 2px solid #ccc;
                            border-radius: 50%;
                            text-decoration: none;
                            margin: 0 auto;
                        }

                        a.zdy_a:link, a.zdy_a:visited, a.zdy_a:hover, a.zdy_a:active {
                            text-decoration: none;
                        }

                        .zdy_a_active {
                            background: #333;
                        }
                    </style>
                    <div class="control-group">

                        <div style="height: 270px;overflow-y: auto;">
                            <table style="width: 100%;text-align: center;line-height: 40px;" border="1">
                                <tr>
                                    <th style="width: 70px;">商品ID</th>
                                    <th>商品名称</th>
                                    <th style="width: 120px;">所属店铺</th>
                                    <th style="width: 50px;">选择</th>
                                </tr>

                                <tbody id="search_tbody">

                                </tbody>


                            </table>
                        </div>

                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn green"
                        data-dismiss="modal">确 定
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->


<!-- END CONTAINER -->
<include file="common/footer"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script>
    var is_Edit = '<?php echo $is_edit;?>';
    $("#uploadImage").on("change", function () {
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test(files[0].type)) {

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function () {

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='" + this.result + "'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display', 'inline-block');
                $('.del_img_btn').show().css('display', 'inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });


    var xz_id = "{$goods_info.id}";
    var xz_name = "{$goods_info.name}";
    var xz_shop = "{$goods_info.shop_name}";

    $(function(){
        if(xz_id!='0'){
            $('#xz_p').hide();
            $('#xz_table').show();
            $('#xz_id').html(xz_id);
            $('#xz_name').html(xz_name);
            $('#xz_shop').html(xz_shop);
            $('#show_xz_span').html("当前选择：《 "+xz_name+" 》    ");
            $('#xz_a_span').html('更改');
        }
    })


    $('input:radio[name="optionsRadios1"]').change(function () {
        $('.show_all').hide();
        /* if($(this).val()==1 || $(this).val()==2){
             $('.show_'+$(this).val()).show();
         }*/
        $('.show_' + $(this).val()).show();
    })


    function binduser(doc_id, user_id) {
        if (user_id) {
            $('#bd_div').show();
            $('#bd_user_id').html(user_id);
        }
        $('#modal_bind').modal('show');
        $('#modal_bind_yes')[0].onclick = function () {
            //$('#modal_confirm').modal('hide');
            Submitbduser(doc_id);
        };
    }


    function SearchGoods() {
        var search_val = $.trim($("*[name='search_val']").val());
        if (search_val == '') {
            showAlert("请输入要搜索的商品名");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/SearchGoods'); ?>",
            data: {search_val: search_val},
            success: function (result) {
                if (result.code == 1) {
                    $('#search_tbody').html('');
                    $.each(result.list, function (index, value) {
                        $('#search_tbody').append(' <tr>' +
                            '                        <td>' + value.id + '</td>' +
                            '                        <td>' + value.name + '</td>' +
                            '                        <td>' + value.shop_name + '</td>' +
                            '                        <td><a href="javascript:xzgoods(\'' + value.id + '\',\''+value.name+'\',\''+value.shop_name+'\')" class="zdy_a zdy_a_' + value.id + '">&nbsp;</a> </td>' +
                            '                        </tr>');
                    });


                } else {
                    $('#search_tbody').html('<tr>' +
                        '                    <td colspan="10">未找到相关商品</td>' +
                        '                        </tr>');

                }
            }
        });
    }


    function Submitbduser(doc_id) {
        var bind_id = $.trim($("*[name='bind_id']").val());
        if (bind_id == '') {
            showAlert("请输入要绑定的ID");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/BindUser'); ?>",
            data: {doc_id: doc_id, user_id: bind_id},
            success: function (result) {
                if (result.code == 1) {
                    showAlert(result.res);
                    window.location.reload();
                } else {
                    showAlert(result.res);
                }
            }
        });

    }




    function xzgoods(id,name,shop_name) {
        $('.zdy_a').removeClass('zdy_a_active');
        $('.zdy_a_' + id).addClass('zdy_a_active');
        $('#xz_p').hide();
        $('#xz_table').show();
        $('#xz_id').html(id);
        $('#xz_name').html(name);
        $('#xz_shop').html(shop_name);
        $('#show_xz_span').html("当前选择：《 "+name+" 》    ");
        $('#xz_a_span').html('更改');
        xz_id = id;
        xz_name = name;
        xz_shop = shop_name;
    }


    function ClearImg() {
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }

    function UploadImg() {
        var img = "";
        var file = $("#uploadImage").val();
        if (file == "") {
            SubmitData("");
        }


        else {
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".") + 1);
            if (fileType != "png" && fileType != "jpg" && fileType != "jpeg") {
                showAlert("上传文件格式错误");
                return false;
            }
            else {
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url: url,
                    fileElementId: "uploadImage",        //file的id
                    dataType: "json",                  //返回数据类型为文本
                    success: function (res) {
                        if (res) {
                            img = res;

                            SubmitData(img);
                        } else {
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    var parent_url = "<?php echo U('home/'.$at.'/index');?>";

    function to_gen() {
        window.location.href = parent_url;
    }

    function SubmitData() {
        var type = $("input[name='optionsRadios1']:checked").val();
        var start_time = '';
        var end_time = '';
        var show_num = '';
        if(type=='1'){
            start_time = $.trim($("*[name='start_time']").val());
            end_time = $.trim($("*[name='end_time']").val());
            if (!start_time) {showAlert("请选择显示开始时间");return false;}
            if (!end_time) {showAlert("请选择显示结束时间");return false;}
        }else{
            show_num = $.trim($("*[name='show_num']").val());
            if (show_num=='') {showAlert("请输入显示次数");return false;}
        }

        if (xz_id=='0') {showAlert("请选择商品");return false;}

        $('#js_btn').attr('disabled', true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/'.$at.'/add'); ?>",
            data: {
                type: type,
                start_time: start_time,
                end_time: end_time,
                show_num: show_num,
                xz_id: xz_id,
                is_edit: is_Edit
            },
            success: function (result) {
                if (result.code == 1) {
                    showAlert(result.res);
                    window.location.href = parent_url;
                } else if (result.code == 0) {
                    showAlert(result.res);
                    $('#js_btn').attr('disabled', false);
                } else {
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled', false);
                }
            }
        });

    }

</script>