<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css" />

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>

<style>
    .at_icon{
        width: 30px;
    }
</style>

<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">



                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        运费模板 <small>详细</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">{$list.name}</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">


                <div class="row-fluid">

                    <div class="span6">

                        <!-- BEGIN SAMPLE TABLE PORTLET-->

                        <div class="portlet">


                            <a href="{:U('home/'.$at.'/plus/edit/'.$list['id'])}" class="btn blue"><i class="icon-edit"></i> 修改</a>

                            <div class="portlet-body">

                                <table class="table table-striped table-bordered table-advance table-hover">

                                    <thead>

                                    <tr>

                                        <th><i class="icon-briefcase"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 选项</font></font></th>

                                        <th ><i class="icon-flag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 数值</font></font></th>

                                    </tr>

                                    </thead>

                                    <tbody>



                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">模板名称</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list.name}</font></font></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">类型</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 1">
                                                <span class="label label-success">自定义运费</span>
                                            </if>
                                            <if condition="$list.status eq 2">
                                                <span class="label label-info">包邮</span>
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">包邮类型</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.is_bao eq 1">
                                                              <span style="color: #3cc051;">
                                                                  购买满： {$list.bao_num}
                                                                <if condition="$list.bao_type eq 1">
                                                                    元
                                                                   <else/>
                                                                    件
                                                                </if>
                                                                  ，则包邮
                                                              </span>
                                                <else/>
                                                <span style="color: red;">不包邮</span>
                                            </if>
                                        </td>
                                    </tr>



                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">默认首件数</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 1">
                                                {$list.one_num}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">默认首费</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 1">
                                                {$list.one_money}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">默认续件数</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 1">
                                                {$list.more_num}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">默认续费</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 1">
                                                {$list.more_money}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建时间</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {$list.create_time|date="Y-m-d H:i:s",###}</font></font></td>
                                    </tr>





                                    </tbody>

                                </table>

                            </div>

                        </div>

                        <!-- END SAMPLE TABLE PORTLET-->

                    </div>



                </div>

                <div class="clearfix"></div>

                <if condition="$list.status eq 1 and $list.data neq null">
                    <div class="portlet-title">

                        <div class="caption">
                            <i class="icon-coffee"></i>自定义运费
                        </div>

                    </div>
                    <style>
                        .tc_table th,.tc_table td{
                            text-align: center;
                        }
                    </style>

                    <div class="portlet-body" style="width: 70%;">
                        <table class="table table-bordered table-hover tc_table" >
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>自定义地区</th>
                                <th>首件数(件)</th>
                                <th>首费(元)</th>
                                <th>续件数(件)</th>
                                <th>续费(元)</th>
                                <!-- <th>操作</th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="list.data" item="v" key="key">
                                <tr>
                                    <td>{$key+1}</td>
                                    <td style="width: 40%;text-align: left;">
                                        {$v.loca}
                                    </td>
                                    <td>
                                        {$v.one_num}
                                    </td>
                                    <td>
                                        {$v.one_money}

                                    </td>

                                    <td>
                                        {$v.more_num}
                                    </td>
                                    <td>

                                        {$v.more_money}

                                    </td>

                                </tr>
                            </foreach>


                            </tbody>

                        </table>

                    </div>

                </if>






        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

    <!-- modal -->
    <div class="modal fade" id = 'modal_fahuo' style="display: none;">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                    <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                    <h4 class="modal-title" id='modal_fahuo_title'>修改比例</h4>
                </div>
                <div class="modal-body">
                    <form action="#" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改抽水比例</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="请输入要修改的抽水比例" name="fh_num"  value="" class="m-wrap medium">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn green" id='modal_fahuo_yes'  style='margin-left:9px'>确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./modal -->


    <!-- modal -->
    <div class="modal fade" id = 'modal_editcode' style="display: none;">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                    <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                    <h4 class="modal-title" id='modal_editcode_title'>修改邀请码</h4>
                </div>
                <div class="modal-body">
                    <form action="#" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">邀请码(清除则留空)</font></font></label>
                            <div class="controls">
                                <input type="text" id="editcode_num" placeholder="邀请码（清除则留空）" name="editcode_num"  value="" class="m-wrap medium">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn green" id='modal_editcode_yes'  style='margin-left:9px'>确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./modal -->

    <!-- modal -->
    <div class="modal fade" id = 'modal_editrebate' style="display: none;">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                    <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                    <h4 class="modal-title" id='modal_editrebate_title'>修改总返利</h4>
                </div>
                <div class="modal-body">
                    <form action="#" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">返利金额</font></font></label>
                            <div class="controls">
                                <input type="number" id="editrebate_num" placeholder="返利金额" name="editrebate_num"  value="" class="m-wrap medium">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn green" id='modal_editrebate_yes'  style='margin-left:9px'>确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./modal -->


    <!-- END CONTAINER -->
<include file="common/footer"/>
    <include file="common/tz"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script>
    var is_Edit = '<?php echo $is_edit;?>';
    $("#uploadImage").on("change", function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test( files[0].type)){

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function(){

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='"+this.result+"'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display','inline-block');
                $('.del_img_btn').show().css('display','inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });


    function agent_show(id){
        var node=$('#'+id);
        if(node.is(':hidden')){　　//如果node是隐藏的则显示node元素，否则隐藏
            node.show();
            $('#'+id+'_i').html('<i class="icon-chevron-up"></i>');
        }else{
            node.hide();
            $('#'+id+'_i').html('<i class="icon-chevron-down"></i>');
        }
    }



    function editcode(code){
        $('#editcode_num').val(code);
        $('#modal_editcode').modal('show');
        $('#modal_editcode_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            SubmitEditCode();
        };
    }

    function SubmitEditCode(){
        var edit_code = $.trim($("*[name='editcode_num']").val());
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editcode'); ?>",
            data:{code:edit_code,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }

    function editrebate(rebate){
        $('#editrebate_num').val(rebate);
        $('#modal_editrebate').modal('show');
        $('#modal_editrebate_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            SubmitEditrebate();
        };
    }

    function SubmitEditrebate(){
        var edit_code = $.trim($("*[name='editrebate_num']").val());
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editrebate'); ?>",
            data:{rebate:edit_code,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }



    function fahuo(id){
        $('#modal_fahuo').modal('show');
        $('#modal_fahuo_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            SubmitFaHuo(id);
        };
    }

    function SubmitFaHuo(type){
        var fh_num = $.trim($("*[name='fh_num']").val());
        if(fh_num==''){
            showAlert("请输入要修改的抽水比例");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editodds'); ?>",
            data:{type:type,odds:fh_num,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }



    var parent_url = "<?php echo U('home/user/index');?>";

    function to_gen(){
        window.location.href = parent_url;
    }

    function EditCheckbox(id){
        var str ;
        if($('.tuijian'+id).is(':checked')) {
            str =1;
        }else{
            str=0;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/edittuijian'); ?>",
            data:{id:id,str:str},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });
    }

    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/group/deleteuser'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function OddsMo(type){
        showConfirm('<i class="icon-exclamation-sign"></i> 恢复默认','确定要将此比例恢复默认，使用系统设置比例吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/editmo'); ?>",
                data:{type:type,is_edit:is_Edit},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function EditAgent(id){
        showConfirm('<i class="icon-exclamation-sign"></i> 设置为代理','确定要将此用户设置为代理吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/editagent'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }



    function delAgent(id){
        showConfirm('<i class="icon-exclamation-sign"></i> 取消代理身份','确定要将此用户代理身份取消吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/delagent'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function ClearImg(){
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }


    function UploadImg(){
        var img = "";
        var file = $("#uploadImage").val();
        if(file==""){
            SubmitData("");
        }


        else{
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".")+1);
            if(fileType!="png"&&fileType!="jpg" &&fileType!="jpeg"){
                showAlert("上传文件格式错误");
                return false;
            }
            else{
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url:url,
                    fileElementId:"uploadImage",        //file的id
                    dataType:"json",                  //返回数据类型为文本
                    success:function(res){
                        if(res){
                            img = res;

                            SubmitData(img);
                        }else{
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    function SubmitData(){

        var name = $.trim($("*[name='name']").val());
        var phone = $.trim($("*[name='phone']").val());
        var location = $.trim($("*[name='location']").val());
        var parent = $.trim($("*[name='parent']").val());
        var price = $.trim($("*[name='price']").val());
        var ku_num = $.trim($("*[name='ku_num']").val());

        if(!name){
            showAlert("请输入明细账单名称");
            return false;
        }

        if(!phone){
            showAlert("请输入手机号");
            return false;
        }
        if(!location){
            showAlert("请输入地址");
            return false;
        }



        $('#js_btn').attr('disabled',true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/user/add'); ?>",
            data:{name:name,phone:phone,location:location,parent:parent,price:price,ku_num:ku_num,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.href= parent_url;
                }else if(result.code==0){
                    showAlert(result.res);
                    $('#js_btn').attr('disabled',false);
                }else{
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled',false);
                }
            }
        });

    }
    function EditAll(id,str,title,db,value){

        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定要 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function delCodeQr(id){

        showConfirm('<i class="icon-exclamation-sign"></i> 重置二维码','确定要 重置二维码 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/delCodeQr'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

</script>