<!--引用文件head-->
<include file="common/header"/>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>



<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        打款消息通知 <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">打款消息通知</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">



                <div class="row-fluid">


                <!--    <div class="btn-group">

                        <a href="<?php echo U('home/'.$at.'/plus');?>" id="sample_editable_1_new" class="btn green">

                            新增活动 <i class="icon-plus"></i>

                        </a>

                    </div>
-->
                    <div class="tabbable tabbable-custom tabbable-full-width">

                        <div class="tab-content">



                            <div id="tab_1_5" class="tab-pane active">

                                <div class="row-fluid search-forms search-default">
<!--

                                    <form class="form-search" method="get" action="{:U('home/'.$at.'/index')}">


                                        <div class="chat-form clearfix">

                                            <div class="input-cont" style="width:100%;float: left;margin-right: 20px;margin-bottom: 2px;min-width: 210px;">

                                                <input type="text" placeholder="搜索 举报内容" value="{$search_list.search}" name="search" class="m-wrap large">
                                                <input type="text" placeholder="根据用户ID搜索" value="{$search_list.user_id}" name="user_id" class="m-wrap large">





                                               &lt;!&ndash; <select name="report_type" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >举报类型筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['report_type'] eq 1"> selected </if> value="1" >举报店铺</option>
                                                    <option <if condition="$search_list['report_type'] eq 2"> selected </if> value="2" >举报附近动态</option>
                                                    <option <if condition="$search_list['report_type'] eq 3"> selected </if> value="3" >举报店铺动态</option>
                                                </select>
&ndash;&gt;
                                                <select name="status" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >处理状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['status'] eq 1"> selected </if> value="1" >未处理</option>
                                                    <option <if condition="$search_list['status'] eq 2"> selected </if> value="2" >已处理</option>
                                                    <option <if condition="$search_list['status'] eq 3"> selected </if> value="3" >已忽略</option>
                                                </select>




                                                <input type="text" placeholder="开始时间 " value="{$search_list.search_date}" name="search_date" class="m-wrap large auto-kal">
                                                <input type="text" placeholder="结束时间 " value="{$search_list.search_date2}" name="search_date2" class="m-wrap large auto-kal">
                                            </div>





                                            <button type="submit" class="btn green">搜 索 &nbsp; <i class="m-icon-swapright m-icon-white"></i></button>

                                        </div>

                                    </form>
-->


                                </div>


                                <div class="portlet-body" style="overflow: auto;">




                                    <table class="table table-striped table-hover" style="min-width: 860px;">

                                        <thead>

                                        <tr>
                                            <th>序号</th>
                                            <th>通知内容</th>
                                            <th>用户</th>
                                            <th>处理状态</th>
                                            <th>通知时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <if condition="$list">
                                            <foreach name="list" item="v" key="key">
                                                <tr>
                                                    <td>
                                                        {$key+1}
                                                    </td>



                                                    <td>{$v.content}</td>
                                                    <td>
                                                        <if condition="$v.user_id neq 0">
                                                            <a href="{:U('home/user/check/edit/'.$v['user_id'])}">{$v.user_name}</a>
                                                            <else/>
                                                            -
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.status eq 0">
                                                            <span style="color: red;">待处理</span>
                                                        </if>
                                                        <if condition="$v.status eq 1">
                                                            <span style="color: green;">已处理</span>
                                                        </if>
                                                    </td>
                                                    <td>{$v.create_time|date="Y-m-d H:i",###}</td>
                                                    <td>
                                                        <!--<a href="{:U('home/'.$at.'/plus/edit/'.$v['id'])}" class="btn blue"><i class="icon-edit"></i> 修改</a>-->
                                                        <if condition="$v.status eq 0">
                                                            <a href="JavaScript:EditAll('{$v.id}','1','已处理此条消息','tix_message','status')" class="btn blue"> 已处理</a>
<!--
                                                            <a href="JavaScript:EditAll('{$v.id}','2','忽略此条举报','report','status')" class="btn red"> 忽略</a>
-->
                                                        </if>

<!--
                                                        <a href="JavaScript:_deleteUser('{$v.id}','举报','report');" class="btn red"><i class="icon-trash"></i> 删除</a>
-->
                                                        <!--<a href="JavaScript:_deleteUser('{$v.id}','举报列表','card');" class="btn red"><i class="icon-trash"></i> 删除</a>-->
                                                    </td>
                                                </tr>
                                            </foreach>
                                            <else />
                                            <tr>
                                                <td colspan="10"><p class="no_data">暂时没有数据</p></td>
                                            </tr>
                                        </if>



                                        </tbody>

                                    </table>

                                </div>

                                <div class="space5"></div>

                                <div class="pagination pagination-right">
                                    <br/>
                                    <div class="page_div">
                                        <?php echo $page;?>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                    <!--end tabbable-->

                </div>


                <div class="clearfix"></div>





            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>


<!-- modal -->
<div id='modal_video' style="display: none;width: 100%;height: 100%;background: rgba(0,0,0,0.8);z-index: 10000000;position: fixed;top: 0;">

    <div style="margin: 80px auto 0;text-align: center;position: relative;" >
        <div style="position:absolute;top:-58px;right: 30%;">
            <i class="icon-remove-circle" style="font-size: 50px;color: #f00;"></i>
        </div>
        <div id="video_url" style="display: inline-block;max-height: 800px;">

        </div>
    </div>
</div>
<!-- ./modal -->

<include file="common/footer"/>
<include file="common/tz"/>

<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script>


    function EditAll(id,str,title,db,value){
        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }
    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                    data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function EditData(id)
    {
        location.href = "<?php echo U('home/GameAdd/index/edit_id/"+id+"');?>";
    }
</script>