<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css" />

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>


<style>
    .star_img{
        width: 20px;
    }
</style>
<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">



                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        医院订单 <small>详细</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-long-arrow-right"></i>

                            <a href="<?php echo U('home/'.$at.'/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">{$list.order_number}</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">


                <div class="row-fluid">

                    <div class="span6">

                        <!-- BEGIN SAMPLE TABLE PORTLET-->

                        <div class="portlet">



                            <div class="portlet-body">

                                <table class="table table-striped table-bordered table-advance table-hover">

                                    <thead>

                                    <tr>

                                        <th style="width: 100px;"><i class="icon-briefcase"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 选项</font></font></th>

                                        <th ><i class="icon-flag"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 数值</font></font></th>

                                    </tr>

                                    </thead>

                                    <tbody>

                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单编号</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{$list.order_number}</font></font></td>
                                    </tr>

                                  <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单类型</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.type eq 1">
                                                <span style="color: green">普通订单</span>
                                            </if>
                                            <if condition="$list.type eq 2">
                                                <span style="color: blue">体验券订单</span>
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用类型</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.use_type eq 1">
                                                <span style="color: green">折扣券</span>
                                            </if>
                                            <if condition="$list.use_type eq 2">
                                                <span style="color: blue">抵消券</span>
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">二维码</font></font></a>
                                        </td>
                                        <td>
                                            <a class="fancybox-button" data-rel="fancybox-button" title="" target="_blank" href="{$list.qr_url}">
                                                <img src="{$list.qr_url}" class="img45" alt="">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">医院</font></font></a>
                                        </td>
                                        <td><a href="{:U('home/hospital/check/edit/'.$list['parent'])}" target="_blank">{$list.hos_name}</a></td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">医生</font></font></a>
                                        </td>
                                        <td><a href="{:U('home/doctor/index/doctor_id/'.$list['doctor_id'])}" target="_blank">{$list.doc_name}</a></td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">支付用户</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status neq 0">
                                                <a href="{:U('home/user/check/edit/'.$list['user_id'])}" target="_blank">{$list.user_name}</a>
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">支付状态</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            <if condition="$list.status eq 0">
                                                -
                                                <else/>
                                                <if condition="$list.money_type eq 1">
                                                    <span class="label label-success">支付预约金</span>
                                                    <else/>
                                                    <span class="label label-info">支付全额</span>
                                                </if>
                                            </if>
                                        </font></font></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单总金额</font></font></a>
                                        </td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">￥{$list.total_money}</font></font></td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单状态</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 0">
                                                <span class="label">未支付</span>
                                            </if>
                                            <if condition="$list.status eq 1">
                                                <span class="label label-success">支付预约金额</span>
                                            </if>
                                            <if condition="$list.status eq 2">
                                                <span class="label label-info">支付全款</span>
                                            </if>
                                            <if condition="$list.status eq 3">
                                                            <span class="label label-important">
                                                                退款
                                                                <if condition="$list.refund_status eq 1">
                                                                    -买家申请中，待医院同意
                                                                </if>
                                                                <if condition="$list.refund_status eq 2">
                                                                    -卖家拒绝退款
                                                                </if>
                                                                <if condition="$list.refund_status eq 3">
                                                                    -买家申请客服介入 - ￥{$list.refund_money}
                                                                </if>
                                                                  <if condition="$list.refund_status eq 4">
                                                                    -退款成功 - ￥{$list.refund_money}
                                                                </if>

                                                                <if condition="$list.refund_status eq 5">
                                                                    -退款中 - ￥{$list.refund_money}
                                                                </if>
                                                                 <if condition="$list.refund_status eq 6">
                                                                    -医院同意退款，等待用户确认 - ￥{$list.refund_money}
                                                                </if>
                                                            </span>
                                            </if>

                                            <if condition="$list.status eq 4">
                                                <span class="label label-info">交易完成(未评价)</span>
                                            </if>
                                            <if condition="$list.status eq 5">
                                                <span class="label label-info">交易完成(已评价)</span>
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退款金额</font></font></a>
                                        </td>
                                        <td style="color: #f00;font-weight: bolder;">
                                            <if condition="$list.status eq 3">
                                                <if condition="$list.refund_status eq 3">
                                                    ￥{$list.refund_money}
                                                </if>
                                                <if condition="$list.refund_status eq 4">
                                                    ￥{$list.refund_money}
                                                </if>

                                                <if condition="$list.refund_status eq 5">
                                                    ￥{$list.refund_money}
                                                </if>
                                                <if condition="$list.refund_status eq 6">
                                                    ￥{$list.refund_money}
                                                </if>
                                            </if>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">操作</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 3">
                                                <if condition="$list.refund_status eq 1 or $list.refund_status eq 3">
                                                    <a href="javascript:fahuo('{$list.id}','2','{$list.refund_money}');" class="btn blue"><i class="icon-edit"></i> 退款给买家</a>
                                                    <a href="javascript:NoTuiMoney('{$list.id}','1','0');" class="btn red"><i class="icon-edit"></i> 拒绝退款</a>
                                                </if>
                                            </if>

                                            <if condition="$list.status eq 2">
                                                <a href="javascript:CompleteOrder('{$list.id}');" class="btn blue"><i class="icon-ok"></i> 确认完成交易</a>
                                            </if>
                                     </td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">需要支付金额</font></font></a>
                                        </td>
                                        <td style="color: #f00;font-weight: bolder;">￥{$list.pay_money}</td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">定金</font></font></a>
                                        </td>
                                        <td style="color: #f00;font-weight: bolder;">
                                            <if condition="$list.prepay_money eq 0">
                                            -
                                                <else/>
                                                ￥{$list.prepay_money}
                                            </if>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="highlight">
                                            <div class="info"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">实际支付金额</font></font></a>
                                        </td>
                                        <td style="color: #f00;font-weight: bolder;">￥{$list.money}</td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">杂费</font></font></a>
                                        </td>
                                        <td>
                                            ￥{$list.cost}

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="warning"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">贷款金额</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.is_loans eq 1">
                                                ￥{$list.loans}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                             <!--       <if condition="$list.type eq 2">
                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">可使用优惠券</font></font></a>
                                            </td>
                                            <td>
                                                <foreach name="list.tic_list" item="v">
                                                    {$v.title}
                                                    <br>
                                                </foreach>

                                            </td>
                                        </tr>
                                    </if>-->


                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">优惠券</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.ticket_id neq 0">
                                                {$list.tic_name}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>



                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">优惠券折扣</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.ticket_id neq 0">
                                                {$list.tic_discount} 折
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="important"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">优惠券抵消</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.ticket_id neq 0">
                                                ￥{$list.ticket_money}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">使用积分</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.score neq 0">
                                                {$list.score}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">积分抵消金额</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.score neq 0">
                                                ￥{$list.score_money}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                                <!--    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单状态</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.status eq 0">
                                                <span style="color:#f00;">未支付</span>
                                            </if>
                                            <if condition="$list.status eq 1">
                                                <span style="color:green;">已支付（待评价）</span>
                                            </if>
                                            <if condition="$list.status eq 2">
                                                <span style="color:green;">交易完成</span>
                                            </if>
                                        </td>
                                    </tr>
-->

                                    <if condition="$com_info neq null">
                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评分</font></font></a>
                                            </td>
                                            <td>
                                                <!--<img src="__PUBLIC__/image/evaluate_banx@2x.png" alt="">-->
                                                <if condition="$com_info.grade neq 0">
                                                    <for start="0" end="$com_info.grade">
                                                        <img src="__PUBLIC__/image/evaluate_sel_xing@2x.png" alt="">
                                                    </for>
                                                        <for start="0" end="$com_info.no_xing">
                                                            <img src="__PUBLIC__/image/evaluate_xing@2x.png" alt="">
                                                        </for>

                                                    <else/>
                                                    <for start="0" end="5">
                                                        <img src="__PUBLIC__/image/evaluate_xing@2x.png" alt="">
                                                    </for>
                                                </if>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评价内容</font></font></a>
                                            </td>
                                            <td>
                                                {$com_info.content}
                                                <br>
                                                <if condition="$com_info.img_list neq null">
                                                    <foreach name="com_info.img_list" item="v">
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="" href="{$v}">
                                                            <img src="{$v}" style="width: 60px;height: 60px;" alt="">
                                                        </a>
                                                    </foreach>
                                                </if>
                                            </td>
                                        </tr>

                                    </if>


                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单备注</font></font></a>
                                        </td>
                                        <td>
                                            {$list.remark}
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">支付时间</font></font></a>
                                        </td>
                                        <td>
                                            <if condition="$list.pay_time neq 0">
                                                {$list.pay_time|date="Y-m-d H:i:s",###}
                                                <else/>
                                                -
                                            </if>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="highlight">
                                            <div class="success"></div>
                                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单创建时间</font></font></a>
                                        </td>
                                        <td>
                                            {$list.create_time|date="Y-m-d H:i:s",###}
                                        </td>
                                    </tr>






                                    </tbody>

                                </table>

                            </div>

                        </div>

                        <!-- END SAMPLE TABLE PORTLET-->

                    </div>



                </div>

                <div class="clearfix"></div>

                <div class="portlet-title">


                <!--    <a href="<?php echo U('home/'.$at.'/plus2/edit/'.$is_edit);?>" id="sample_editable_1_new" class="btn green">

                        新增套餐 <i class="icon-plus"></i>

                    </a>-->



                </div>



                    <!-- BEGIN CONDENSED TABLE PORTLET-->


                 <!--   <div class="portlet-title">

                        <div class="caption">
                            <i class="icon-coffee"></i>商品列表
                        </div>

                    </div>-->
                <style>
                    .tc_table th,.tc_table td{
                        text-align: center;
                    }
                </style>

              <!--      <div class="portlet-body" style="width: 90%;">

                        <table class="table table-bordered table-hover tc_table" >

                            <thead>

                            <tr>

                                <th>序号</th>
                                <th>商品名称</th>
                                <th>商品封面</th>
                                <th>价格</th>
                                <th>是否可支付预约金</th>
                                <th>预约价格</th>
                                <th>状态</th>
                                <th>是否在首页显示</th>
                                <th>冻结状态</th>
                                <th>销量</th>


                                <th>发布时间</th>

                            </tr>

                            </thead>

                            <tbody>
                            <foreach name="goods_list" item="v" key="key">
                                <tr>

                                    <td>{$key+1}</td>
                                    <td>{$v.name}</td>
                                    <td>
                                        <foreach name="v.img_list" item="k">
                                            <a class="fancybox-button" data-rel="fancybox-button" title="" href="{$k}">
                                                <img src="{$k}" class="img45" alt="">
                                            </a>
                                        </foreach>

                                    </td>
                                    <td>￥{$v.price}</td>
                                    <td>
                                        <if condition="$v.is_prepay eq 1">
                                            <span style="color: green;">是</span>
                                        </if>
                                        <if condition="$v.is_prepay eq 0">
                                            <span style="color: #f00;">否</span>
                                        </if>
                                    </td>
                                    <td>￥{$v.prepay}</td>
                                    <td>

                                        <if condition="$v.is_show eq 1">
                                            <a href="javascript:EditAll('{$v.id}','0','下架套餐','shop_goods','is_show')">
                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上架中</font></font></span>
                                            </a>
                                        </if>

                                        <if condition="$v.is_show eq 0">
                                            <a href="javascript:EditAll('{$v.id}','1','上架套餐','shop_goods','is_show')">
                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">已下架</font></font></span>
                                            </a>
                                        </if>

                                    </td>


                                    <td>
                                        <if condition="$v.is_home eq 1">
                                            <a href="javascript:EditAll('{$v.id}','0','取消首页显示','shop_goods','is_home')">
                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是</font></font></span>
                                            </a>
                                        </if>

                                        <if condition="$v.is_home eq 0">
                                            <a href="javascript:EditAll('{$v.id}','1','设置首页显示','shop_goods','is_home')">
                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">否</font></font></span>
                                            </a>
                                        </if>
                                    </td>

                                   <td>
                                        <if condition="$v.is_freeze eq 1">
                                            <a href="javascript:EditAll('{$v.id}','0','冻结商品','shop_goods','is_freeze')">
                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">正常</font></font></span>
                                            </a>
                                        </if>

                                        <if condition="$v.is_freeze eq 0">
                                            <a href="javascript:EditAll('{$v.id}','1','解除冻结','shop_goods','is_freeze')">
                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">已冻结</font></font></span>
                                            </a>
                                        </if>
                                    </td>
                                    <td>{$v.sales}</td>
                                    <td>
                                        {$v.create_time|date="Y-m-d H:i:s",###}
                                    </td>


                                </tr>
                            </foreach>


                            </tbody>

                        </table>

                    </div>-->





        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

    <!-- modal -->
    <div class="modal fade" id = 'modal_fahuo' style="display: none;">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                    <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                    <h4 class="modal-title" id='modal_fahuo_title'>退款给用户</h4>
                </div>
                <div class="modal-body">


                    <form action="#" class="form-horizontal">


                        <div class="control-group">
                            <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退款金额</font></font></label>
                            <div class="controls">
                                <input type="number" placeholder="请输入要退款的金额" name="fh_num"  value="" class="m-wrap medium">
                            </div>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal" >取 消</button>
                    <button type="button" class="btn green" id='modal_fahuo_yes'  style='margin-left:9px'>确 定</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- ./modal -->



    <!-- END CONTAINER -->
<include file="common/footer"/>
    <include file="common/tz"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script>
    var is_Edit = '<?php echo $is_edit;?>';
    $("#uploadImage").on("change", function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];

        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;

        // Only proceed if the selected file is an image
        if (/^image/.test( files[0].type)){

            // Create a new instance of the FileReader
            var reader = new FileReader();

            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);

            // When loaded, set image data as background of div
            reader.onloadend = function(){

                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='"+this.result+"'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display','inline-block');
                $('.del_img_btn').show().css('display','inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });


    function NoTuiMoney(id,type,money){
        var title = '';
        if(type=='2'){
            money = $.trim($("*[name='fh_num']").val());
            if(money==''){
                showAlert("请输入退款金额");
                return false;
            }
            title = '同意';
        }else{
            title = '拒绝';
        }




        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定'+title+'退款给用户吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/TuiMoney'); ?>",
                data:{id:id,type:type,money:money},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function CompleteOrder(id){

        showConfirm('<i class="icon-exclamation-sign"></i> 完成交易','确定此订单已完成交易吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/CompleteOrder'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function EditAll(id,str,title,db,value){

        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定要 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }
    function fahuo(id,type,money){
        if(money){
            $("*[name='fh_num']").val(money)
        }

        $('#modal_fahuo').modal('show');
        $('#modal_fahuo_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            NoTuiMoney(id,type,money);
        };
    }

    function SubmitFaHuo(id){
        var fh_num = $.trim($("*[name='fh_num']").val());
        if(fh_num==''){
            showAlert("请输入赠送数量");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editgive'); ?>",
            data:{id:id,fh_num:fh_num},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }



    var parent_url = "<?php echo U('home/user/index');?>";

    function to_gen(){
        window.location.href = parent_url;
    }

    function EditCheckbox(id){
        var str ;
        if($('.tuijian'+id).is(':checked')) {
            str =1;
        }else{
            str=0;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/edittuijian'); ?>",
            data:{id:id,str:str},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });
    }

    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function ClearImg(){
        $("#upload_kuang").addClass("dan_upload_img_div1");
        $("#uploadImage").val('');
        $('.on_img_btn').show();
        $('.change_img_btn').hide();
        $('.del_img_btn').hide();
        $('#uploadPreview').html('');
    }


    function UploadImg(){
        var img = "";
        var file = $("#uploadImage").val();
        if(file==""){
            SubmitData("");
        }


        else{
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".")+1);
            if(fileType!="png"&&fileType!="jpg" &&fileType!="jpeg"){
                showAlert("上传文件格式错误");
                return false;
            }
            else{
                var url = "<?php echo U('home/Upload/thumb');?>";
                $.ajaxFileUpload({
                    url:url,
                    fileElementId:"uploadImage",        //file的id
                    dataType:"json",                  //返回数据类型为文本
                    success:function(res){
                        if(res){
                            img = res;

                            SubmitData(img);
                        }else{
                            showAlert("图片上传失败");
                        }
                    }
                })
            }
        }
    }


    function SubmitData(){

        var name = $.trim($("*[name='name']").val());
        var phone = $.trim($("*[name='phone']").val());
        var location = $.trim($("*[name='location']").val());
        var parent = $.trim($("*[name='parent']").val());
        var price = $.trim($("*[name='price']").val());
        var ku_num = $.trim($("*[name='ku_num']").val());

        if(!name){
            showAlert("请输入明细账单名称");
            return false;
        }

        if(!phone){
            showAlert("请输入手机号");
            return false;
        }
        if(!location){
            showAlert("请输入地址");
            return false;
        }



        $('#js_btn').attr('disabled',true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/user/add'); ?>",
            data:{name:name,phone:phone,location:location,parent:parent,price:price,ku_num:ku_num,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.href= parent_url;
                }else if(result.code==0){
                    showAlert(result.res);
                    $('#js_btn').attr('disabled',false);
                }else{
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled',false);
                }
            }
        });

    }

</script>