<!--引用文件head-->
<include file="common/header"/>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>



<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        医院订单 <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">医院订单</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">



                <div class="row-fluid">


                <!--    <div class="btn-group">

                        <a href="<?php echo U('home/'.$at.'/plus');?>" id="sample_editable_1_new" class="btn green">

                            新增活动 <i class="icon-plus"></i>

                        </a>

                    </div>
-->
                    <div class="tabbable tabbable-custom tabbable-full-width">

                        <div class="tab-content">
                            <ul class="nav nav-tabs">
                                <li <if condition="$search_list.page_type eq 1">class="active"</if> ><a  href="{:U('home/'.$at.'/index/page_type/1')}">待处理</a></li>
                                <li <if condition="$search_list.page_type eq 2">class="active"</if> ><a  href="{:U('home/'.$at.'/index/page_type/2')}">全部</a></li>
                            </ul>



                            <div id="tab_1_5" class="tab-pane active">

                                <div class="row-fluid search-forms search-default">

                                   <form class="form-search" method="get" action="{:U('home/'.$at.'/index')}">


                                        <div class="chat-form clearfix">

                                            <div class="input-cont" style="width:100%;float: left;margin-right: 20px;margin-bottom: 2px;min-width: 210px;">
                                                <input type="text" placeholder="搜索 订单编号 " value="{$search_list.search}" name="search" class="m-wrap large">
                                                <input type="text" placeholder=" 根据用户ID搜索" value="{$search_list.user_id}" name="user_id" class="m-wrap large">
                                               <!-- <select name="is_open" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >营业筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_open'] eq 1"> selected </if> value="1" >打烊</option>
                                                    <option <if condition="$search_list['is_open'] eq 2"> selected </if> value="2" >营业中</option>
                                                </select>-->

                                                <select name="parent" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >医院筛选</option>
                                                    <option value="0" >全部</option>
                                                    <foreach name="hos_list" item="v">
                                                      <option <if condition="$search_list['parent'] eq $v['id']"> selected </if> value="{$v.id}" >{$v.name}</option>
                                                    </foreach>
                                                </select>


                                               <select name="type" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >类型筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['type'] eq 1"> selected </if> value="1" >普通订单</option>
                                                    <option <if condition="$search_list['type'] eq 2"> selected </if> value="2" >体验券订单</option>
                                                </select>

                                            <!--    <select name="status" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >支付状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['status'] eq 1"> selected </if> value="1" >未支付</option>
                                                    <option <if condition="$search_list['status'] eq 2"> selected </if> value="2" >已支付（待评价）</option>
                                                    <option <if condition="$search_list['status'] eq 3"> selected </if> value="3" >交易完成</option>
                                                </select>-->

                                                <input type="hidden" name="page_type" value="{$search_list.page_type}">

                                                <input type="text" placeholder="支付开始时间 " value="{$search_list.search_date}" autocomplete="off" name="search_date" class="m-wrap large auto-kal">
                                                <input type="text" placeholder="支付结束时间 " value="{$search_list.search_date2}" autocomplete="off" name="search_date2" class="m-wrap large auto-kal">
                                            </div>





                                            <button type="submit" class="btn green">搜 索 &nbsp; <i class="m-icon-swapright m-icon-white"></i></button>

                                        </div>

                                    </form>

                                </div>


                                <div class="portlet-body" style="overflow: auto;">




                                    <table class="table table-striped table-hover" style="min-width: 860px;">

                                        <thead>

                                        <tr>
                                            <th>序号</th>
                                            <th>订单编号</th>
                                            <th>类型</th>
                                            <th>使用类型</th>
                                            <th>二维码</th>
                                            <th>医院</th>
                                            <th>医生</th>
                                            <th>支付用户</th>
                                            <th>支付状态</th>
                                            <th>订单状态</th>
                                            <th>总金额</th>
                                            <th>定金</th>
                                            <th>需要支付的金额</th>
                                            <th>实际支付金额</th>

                                          <!--  <th>杂费</th>
                                            <th>贷款金额</th>
                                            <th>优惠券</th>
                                            <th>优惠券抵消金额</th>
                                            <th>使用积分</th>
                                            <th>积分抵消金额</th>-->
                                            <!--<th>支付状态</th>-->
                                            <th>支付时间</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <if condition="$list">
                                            <foreach name="list" item="v" key="key">
                                                <tr>
                                                    <td>
                                                        {$key+1}
                                                    </td>

                                                    <td>
                                                        {$v.order_number}
                                                    </td>
                                                    <td>
                                                        <if condition="$v.type eq 1">
                                                            <span style="color: green">普通订单</span>
                                                        </if>
                                                        <if condition="$v.type eq 2">
                                                            <span style="color: blue">体验券订单</span>
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.use_type eq 1">
                                                            <span style="color: green">折扣券</span>
                                                        </if>
                                                        <if condition="$v.use_type eq 2">
                                                            <span style="color: blue">抵消券</span>
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="" target="_blank" href="{$v.qr_url}">
                                                            <img src="{$v.qr_url}" class="img45" alt="">
                                                        </a>
                                                    </td>

                                                    <td><a href="{:U('home/hospital/check/edit/'.$v['parent'])}" target="_blank">{$v.hos_name}</a></td>
                                                    <td><a href="{:U('home/doctor/index/doctor_id/'.$v['doctor_id'])}" target="_blank">{$v.doc_name}</a></td>
                                                    <td>
                                                        <if condition="$v.status neq 0">
                                                            <a href="{:U('home/user/check/edit/'.$v['user_id'])}" target="_blank">{$v.user_name}</a>
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>
                                                    <td>
                                                        <if condition="$v.status eq 0">
                                                            -
                                                            <else/>
                                                            <if condition="$v.money_type eq 1">
                                                                <span class="label label-success">支付预约金</span>
                                                                <else/>
                                                                <span class="label label-info">支付全额</span>
                                                            </if>
                                                        </if>

                                                    </td>

                                                    <td>
                                                        <if condition="$v.status eq 0">
                                                            <span class="label">未支付</span>
                                                        </if>
                                                        <if condition="$v.status eq 1">
                                                            <span class="label label-success">支付预约金额</span>
                                                        </if>
                                                        <if condition="$v.status eq 2">
                                                            <span class="label label-info">支付全款</span>
                                                        </if>
                                                        <if condition="$v.status eq 3">
                                                            <span class="label label-important">
                                                                退款
                                                                <if condition="$v.refund_status eq 1">
                                                                    -买家申请中，待医院同意
                                                                </if>
                                                                <if condition="$v.refund_status eq 2">
                                                                    -卖家拒绝退款
                                                                </if>
                                                                <if condition="$v.refund_status eq 3">
                                                                    -买家申请客服介入 - ￥{$v.refund_money}
                                                                </if>
                                                                  <if condition="$v.refund_status eq 4">
                                                                    -退款成功 - ￥{$v.refund_money}
                                                                </if>

                                                                <if condition="$v.refund_status eq 5">
                                                                    -退款中 - ￥{$v.refund_money}
                                                                </if>
                                                                 <if condition="$v.refund_status eq 6">
                                                                    -医院同意退款，等待用户确认 - ￥{$v.refund_money}
                                                                </if>
                                                            </span>
                                                        </if>

                                                        <if condition="$v.status eq 4">
                                                            <span class="label label-info">交易完成(未评价)</span>
                                                        </if>
                                                        <if condition="$v.status eq 5">
                                                            <span class="label label-info">交易完成(已评价)</span>
                                                        </if>
                                                    </td>



                                                    <td>
                                                        ￥{$v.total_money}
                                                    </td>
                                                    <td>
                                                        <if condition="$v.prepay_money eq 0">
                                                            -
                                                            <else/>
                                                            ￥{$v.prepay_money}
                                                        </if>

                                                    </td>
                                                    <td style="color: #f00;font-weight: bolder;">
                                                        ￥{$v.pay_money}
                                                    </td>
                                                    <td style="color: #f00;font-weight: bolder;">
                                                        ￥{$v.money}
                                                    </td>
                                                 <!--   <td>
                                                        ￥{$v.cost}
                                                    </td>
                                                    <td>
                                                        <if condition="$v.is_loans eq 1">
                                                            ￥{$v.loans}
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>

                                                    <td>
                                                        <if condition="$v.ticket_id neq 0">
                                                            {$v.tic_name}
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>

                                                    <td>
                                                        <if condition="$v.ticket_id neq 0">
                                                            ￥{$v.ticket_money}
                                                            <else/>
                                                            -
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.score neq 0">
                                                            {$v.score}
                                                            <else/>
                                                            -
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.score neq 0">
                                                            ￥{$v.score_money}
                                                            <else/>
                                                            -
                                                        </if>
                                                    </td>-->

                                             <!--       <td>
                                                        <if condition="$v.status eq 0">
                                                            <span style="color:#f00;">未支付</span>
                                                        </if>
                                                        <if condition="$v.status eq 1">
                                                            <span style="color:green;">已支付（待评价）</span>
                                                        </if>
                                                        <if condition="$v.status eq 2">
                                                            <span style="color:green;">交易完成</span>
                                                        </if>
                                                    </td>
-->


                                                    <td>
                                                        <if condition="$v.pay_time neq 0">
                                                            {$v.pay_time|date="Y-m-d H:i:s",###}
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>
                                                    <td>{$v.create_time|date="Y-m-d H:i",###}</td>
                                                  <td>
                                                        <a href="{:U('home/'.$at.'/check/edit/'.$v['id'])}" class="btn green"><i class="icon-eye-open"></i> 查看详细</a>


                                                      <if condition="$v.status eq 3">
                                                          <if condition="$v.refund_status eq 1 or $v.refund_status eq 3">
                                                              <br>
                                                              <a href="javascript:fahuo('{$v.id}','2','{$v.refund_money}');" class="btn blue"><i class="icon-edit"></i> 退款给买家</a>
                                                              <a href="javascript:NoTuiMoney('{$v.id}','1','0');" class="btn red"><i class="icon-edit"></i> 拒绝退款</a>
                                                          </if>
                                                      </if>

                                                      <if condition="$v.status eq 2">
                                                          <br>
                                                          <a href="javascript:okorder('{$v.id}','{$v.total_money}','{$v.cost}','{$v.loans}');" class="btn blue"><i class="icon-ok"></i> 确认完成交易</a>
                                                      </if>
<!--

                                                        <a href="{:U('home/'.$at.'/plus/edit/'.$v['id'])}" class="btn blue"><i class="icon-edit"></i> 修改</a>
-->
                                                        <!--<a href="JavaScript:_deleteUser('{$v.id}','反馈','opinion');" class="btn red"><i class="icon-trash"></i> 删除</a>-->
                                                    </td>
                                                </tr>
                                            </foreach>
                                            <else />
                                            <tr>
                                                <td colspan="10"><p class="no_data">暂时没有数据</p></td>
                                            </tr>
                                        </if>



                                        </tbody>

                                    </table>

                                </div>

                                <div class="space5"></div>

                                <div class="pagination pagination-right">
                                    <br/>
                                    <div class="page_div">
                                        <?php echo $page;?>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                    <!--end tabbable-->

                </div>


                <div class="clearfix"></div>





            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>


<!-- modal -->
<div id='modal_video' style="display: none;width: 100%;height: 100%;background: rgba(0,0,0,0.8);z-index: 10000000;position: fixed;top: 0;">

    <div style="margin: 80px auto 0;text-align: center;position: relative;" >
        <div style="position:absolute;top:-58px;right: 30%;">
            <i class="icon-remove-circle" style="font-size: 50px;color: #f00;"></i>
        </div>
        <div id="video_url" style="display: inline-block;max-height: 800px;">

        </div>
    </div>
</div>
<!-- ./modal -->



<!-- modal -->
<div class="modal fade" id = 'modal_fahuo' style="display: none;">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_fahuo_title'>退款给用户</h4>
            </div>
            <div class="modal-body">


                <form action="#" class="form-horizontal">


                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">退款金额</font></font></label>
                        <div class="controls">
                            <input type="number" placeholder="请输入要退款的金额" name="fh_num"  value="" class="m-wrap medium">
                        </div>
                    </div>

                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal" >取 消</button>
                <button type="button" class="btn green" id='modal_fahuo_yes'  style='margin-left:9px'>确 定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->


<!-- modal -->
<div class="modal fade" id = 'modal_ok' style="display: none;">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_ok_title'>确定完成订单</h4>
            </div>
            <div class="modal-body">


                <form action="#" class="form-horizontal">

                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">订单总金额</font></font></label>
                        <div class="controls">
                            <p style="padding-top: 7px;" id="ok_money"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">杂费金额</font></font></label>
                        <div class="controls">
                            <input type="number" placeholder="请输入杂费,留空则不改变" name="ok_cost"  value="" class="m-wrap medium">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">贷款金额</font></font></label>
                        <div class="controls">
                            <input type="number" placeholder="请输入贷款,留空则不改变" name="ok_loans"  value="" class="m-wrap medium">
                        </div>
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal" >取 消</button>
                <button type="button" class="btn green" id='modal_ok_yes'  style='margin-left:9px'>确 定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->


<include file="common/footer"/>
<include file="common/tz"/>

<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script>



    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }
    function fahuo(id,type,money){
        if(money){
            $("*[name='fh_num']").val(money)
        }

        $('#modal_fahuo').modal('show');
        $('#modal_fahuo_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            NoTuiMoney(id,type,money);
        };
    }

    function EditAll(id,str,title,db,value){

        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定要 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }
    function okorder(id,total_money,cost,loans){
        $('#ok_money').html(total_money);
        $("*[name='ok_cost']").val(cost);
        $("*[name='ok_loans']").val(loans);

        $('#modal_ok').modal('show');
        $('#modal_ok_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            CompleteOrder(id);
        };
    }

    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                    data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function loans(id,type,money){
        var title = '';
        if(type=='2'){
            money = $.trim($("*[name='fh_num']").val());
            if(money==''){
                showAlert("请输入退款金额");
                return false;
            }
            title = '同意';
        }else{
            title = '拒绝';
        }




        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定'+title+'退款给用户吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/TuiMoney'); ?>",
                data:{id:id,type:type,money:money},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function CompleteOrder(id){
        var cost = $("*[name='ok_cost']").val();
        var loans = $("*[name='ok_loans']").val();
        showConfirm('<i class="icon-exclamation-sign"></i> 完成交易','确定此订单已完成交易吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/CompleteOrder'); ?>",
                data:{id:id,cost:cost,loans:loans},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }
    function NoTuiMoney(id,type,money){
        var title = '';
        if(type=='2'){
            money = $.trim($("*[name='fh_num']").val());
            if(money==''){
                showAlert("请输入退款金额");
                return false;
            }
            title = '同意';
        }else{
            title = '拒绝';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定'+title+'退款给用户吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/TuiMoney'); ?>",
                data:{id:id,type:type,money:money},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function EditData(id)
    {
        location.href = "<?php echo U('home/GameAdd/index/edit_id/"+id+"');?>";
    }
</script>