<!--引用文件head-->
<include file="common/header"/>


<!-- 上传图片 -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/duoimg/css/globle.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-fileupload.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.gritter.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chosen.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/select2_metro.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.tagsinput.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clockface.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-wysihtml5.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/timepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorpicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-toggle-buttons.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/daterangepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/datetimepicker.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/multi-select-metro.css" />

<link href="__PUBLIC__/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="__PUBLIC__/time/css/borain-timeChoice.css">
<link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css">

<!-- 上传图片-->

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>



<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">


        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <div class="row-fluid">

                <div class="span12">



                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        {$title} <small>操作</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li>

                            <i class="icon-user"></i>

                            <a href="<?php echo U('home/article/index');?>">{$title}</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#"><?php echo $is_edit?'修改'.$title:'新增'.$title;?></a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">



                <div class="row-fluid">

                    <div class="span12">

                        <!-- BEGIN PORTLET-->

                        <div class="portlet box">



                            <div class="portlet-body form">

                                <!-- BEGIN FORM-->

                                <form action="<?php echo U('home/GameAdd/upload_thumb');?>" class="form-horizontal">
                                    <!--<div class="control-group">

                                       <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">类型</font></font></label>

                                      <div class="controls">


                                           <a href="{:U('home/article/plus')}" class="btn icn-only">文字</a>
                                           <a href="#" class="btn green icn-only">图片</a>
                                           <a href="{:U('home/article/video')}" class="btn icn-only">视频</a>
                                       </div>

                                    </div>-->

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">店铺名称</font></font></label>

                                        <div class="controls">

                                            <input type="text" placeholder="请输入店铺名称" name="name"  value="{$list.name}" class="m-wrap medium">


                                        </div>

                                    </div>
                                    <?php if($is_edit){?>
                                    <div class="control-group">
                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">店铺logo</font></font></label>

                                        <div class="controls">

                                            <a class="fancybox-button" data-rel="fancybox-button" title="" href="<?php echo $list['logo'];?>">
                                                <img src="<?php echo $list['logo'];?>" style="max-height: 150px;border:1px solid #ddd;" alt="">
                                            </a>

                                        </div>

                                    </div>
                                    <?php }?>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><?php echo $is_edit?'修改店铺logo':'店铺logo';?></font></font></label>


                                        <div class="controls">
                                            <div id="upload_kuang"  class="dan_upload_img_div1">
                                                <div id="uploadPreview">

                                                </div>
                                            </div>

                                            <label class="on_img_btn" for="uploadImage" style="display: inline;"> <span  class="btn btn-default" style="">选择图片</span></label>
                                            <label class="change_img_btn" for="uploadImage" style="display: none;"> <span  class="btn btn-default" style="">更改</span></label>
                                            <label class="del_img_btn" style="display: none;" onclick="ClearImg('')"> <span  class="btn btn-default" style="">删除</span></label>
                                            <input id="uploadImage" style="" type="file"  name="photoimage" class="fimg1"  />


                                        </div>
                                    </div>
                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">店铺分类</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入店铺分类" name="classify"  value="{$list.classify}" class="m-wrap medium">
                                        </div>

                                    </div>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">店铺电话</font></font></label>

                                        <div class="controls">
                                            <input type="text" placeholder="请输入店铺电话" name="mobile"  value="{$list.mobile}" class="m-wrap medium">
                                        </div>

                                    </div>


                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">服务介绍</font></font></label>

                                        <div class="controls">

                                            <textarea class="large m-wrap" name="introduce" style="width: 100%;" id="introduce" rows="6">{$list.introduce}</textarea>
                                        </div>

                                    </div>
                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">服务方式</font></font></label>

                                        <div class="controls">

                                            <textarea class="large m-wrap" name="way" style="width: 100%;" id="way" rows="6">{$list.way}</textarea>
                                        </div>

                                    </div>






                                    <?php if($is_edit){?>

                                    <div class="control-group " >

                                        <label class="control-label">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">原有店铺banner</font></font></label>

                                        <div class="controls">

                                            <foreach name="list.banner_list" item="k">
                                                <a style="position: relative;" class="fancybox-button banner_a banner_a{$k.id}" data-rel="fancybox-button" title="" href="{$k.img_url}">
                                                    <img src="{$k.img_url}" class="" style="width: 80px;height: 80px;" alt="">
                                                    <div style="position: absolute;top:10px;right: 5px;">
                                                        <i class="icon-trash" onclick="_deleteUser('{$k.id}','店铺banner','shop_photo');" style="font-size: 22px;color:#f00;"></i>
                                                    </div>
                                                </a>

                                            </foreach>


                                        </div>

                                    </div>
                                    <?php }?>

                                    <div class="control-group">

                                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">新增店铺banner图</font></font></label>

                                        <div class="controls">
                                            <ul class="upload-ul clearfix">
                                                <li class="upload-pick">
                                                    <div class="webuploader-container clearfix" id="goodsUpload"></div>
                                                </li>
                                            </ul>
                                            <p><a class="upload-btn" href="javascript:;">上传图片</a></p>
                                        </div>

                                    </div>




                                    <div class="form-actions">

                                        <button type="button" id="js_btn" onclick="UploadImg()" class="btn blue"><i class="icon-ok"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 保存</font></font></button>

                                        <button type="button" onclick="to_gen()" class="btn"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">取消</font></font></button>



                                    </div>

                                </form>

                                <!-- END FORM-->

                            </div>

                        </div>

                        <!-- END PORTLET-->

                    </div>

                </div>


                <div class="clearfix"></div>





            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->
<include file="common/footer"/>
<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>
<script src="__PUBLIC__/js/ajaxfileupload.js"></script>
<script src="__PUBLIC__/duoimg/js/webuploader.min.js"></script>
<script src="__PUBLIC__/duoimg/js/diyUpload.js"></script>
<script>


    $("#uploadImage").on("change", function(){
        // Get a reference to the fileList
        var files = !!this.files ? this.files : [];
        // If no files were selected, or no FileReader support, return
        if (!files.length || !window.FileReader) return;
        // Only proceed if the selected file is an image
        if (/^image/.test( files[0].type)){
            // Create a new instance of the FileReader
            var reader = new FileReader();
            // Read the local file as a DataURL
            reader.readAsDataURL(files[0]);
            // When loaded, set image data as background of div
            reader.onloadend = function(){
                $("#uploadPreview").html("<img style='max-height: 150px;border:1px solid #ddd;' src='"+this.result+"'/>");
                $('.on_img_btn').hide();
                $('.change_img_btn').show().css('display','inline-block');
                $('.del_img_btn').show().css('display','inline-block');
                $("#upload_kuang").removeClass("dan_upload_img_div1");
            }
        }
    });



    var img_arr = new Array();
    var img_i = 0;
    $(function(){

        //上传图片
        var $tgaUpload = $('#goodsUpload').diyUpload({
            url:"<?php echo U('home/upload/upload_duo');?>",
            success:function( data ) {

                img_arr[img_i]  = data.res;
                console.log(img_arr);
                img_i++;
            },
            error:function( err ) { },
            buttonText : '',
            accept: {
                title: "Images",
                extensions: 'gif,jpg,jpeg,bmp,png'
            },
            fileNumLimit:3,
            thumb:{
                width:120,
                height:90,
                quality:100,
                allowMagnify:true,
                crop:true,
                type:"image/jpeg"
            }
        });

        $(".upload-btn").click(function(){ $tgaUpload.upload(); });
    });

    var is_Edit = '<?php echo $is_edit;?>';
    var parent_url = "<?php echo U('home/'.$at.'/index');?>";

    function to_gen(){
        window.location.href = parent_url;
    }

    function ClearImg(str){
        if(str){
            $("#upload_kuang"+str).addClass("dan_upload_img_div1");
            $("#uploadImage"+str).val('');
            $('.on_img_btn'+str).show();
            $('.change_img_btn'+str).hide();
            $('.del_img_btn'+str).hide();
            $('#uploadPreview'+str).html('');
        }else{
            $("#upload_kuang").addClass("dan_upload_img_div1");
            $("#uploadImage").val('');
            $('.on_img_btn').show();
            $('.change_img_btn').hide();
            $('.del_img_btn').hide();
            $('#uploadPreview').html('');
        }

    }
    function _deleteUser(id,name,db){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除'+name,'确定要删除'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/delete'); ?>",
                data:{id:id,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        $('.banner_a'+id).remove();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function UploadImg(){

        var img = "";
        var file = $("#uploadImage").val();
        $('#js_btn').attr('disabled',true);
        if(file==""){
            SubmitData('');
        }
        else{
            //判断上传的文件的格式是否正确
            var fileType = file.substring(file.lastIndexOf(".")+1);
            if(fileType!="png"&&fileType!="jpg" &&fileType!="jpeg"){
                showAlert("上传文件格式错误");
                $('#js_btn').attr('disabled',false);
                return false;
            }
            else{
                var url = "<?php echo U('home/upload/thumb');?>";
                $.ajaxFileUpload({
                    url:url,
                    fileElementId:"uploadImage",        //file的id
                    dataType:"json",                  //返回数据类型为文本
                    success:function(res){
                        if(res){
                            img = res;

                            SubmitData(img);
                        }else{
                            showAlert("图片上传失败");
                            $('#js_btn').attr('disabled',false);
                        }
                    }
                })
            }
        }
    }



    function SubmitData(img1){

        var name = $.trim($("*[name='name']").val());
        var classify = $.trim($("*[name='classify']").val());
        var mobile = $.trim($("*[name='mobile']").val());
        var introduce = $.trim($("*[name='introduce']").val());
        var way = $.trim($("*[name='way']").val());

        if(!name){
            showAlert("请输入店铺名称");
            return false;
            $('#js_btn').attr('disabled',false);
        }
        if(!classify){
            showAlert("请输入店铺分类");
            $('#js_btn').attr('disabled',false);
            return false;
        }
        if(!mobile){
            showAlert("请输入店铺电话");
            $('#js_btn').attr('disabled',false);
            return false;
        }
        if(!introduce){
            showAlert("请输入服务介绍");
            $('#js_btn').attr('disabled',false);
            return false;
        }
        if(!way){
            showAlert("请输入服务方式");
            $('#js_btn').attr('disabled',false);
            return false;
        }

        var banner_len = $(".banner_a").length;

        var img_leng = $(".diyControl").length;

        var img_arr_count = img_arr.length;
        if(img_leng!=img_arr_count){
            showAlert("请先点击上传图片后在保存");
            $('#js_btn').attr('disabled',false);
            return false;
        }

        if (img_arr_count==0 && banner_len==0) {
            showAlert("请至少上传一张banner图");
            $('#js_btn').attr('disabled',false);
            return false;
        }

        if(img_arr_count>0){

        }else{
            img_arr ='';
        }




        $('#js_btn').attr('disabled',true);
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "<?php echo U('home/'.$at.'/add'); ?>",
            data:{name:name,classify:classify,mobile:mobile,introduce:introduce,way:way,img1:img1,img_arr:img_arr,is_edit:is_Edit},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.href= parent_url;
                }else if(result.code==0){
                    showAlert(result.res);
                    $('#js_btn').attr('disabled',false);
                }else{
                    showAlert("提交失败，请检查您的输入是否合法");
                    $('#js_btn').attr('disabled',false);
                }
            }
        });

    }

</script>