<!--引用文件head-->
<include file="common/header"/>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

<!-- BEGIN HEADER -->

<!--头部导航栏-->
<include file="common/top"/>



<div class="page-container">


    <!--导航栏-->
    <include file="common/nav"/>



    <div class="page-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
                <div class="span12">

                    <!--颜色选择-->
                    <include file="common/color"/>



                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                    <h3 class="page-title">

                        商城商品 <small>列表</small>

                    </h3>

                    <ul class="breadcrumb">

                        <li>

                            <i class="icon-home"></i>

                            <a href="<?php echo U('home/home/index');?>">主页</a>

                            <i class="icon-angle-right"></i>

                        </li>

                        <li><a href="#">商城商品</a></li>



                    </ul>

                    <!-- END PAGE TITLE & BREADCRUMB-->

                </div>

            </div>

            <!-- END PAGE HEADER-->

            <div id="dashboard">



                <div class="row-fluid">


                    <div class="btn-group">

                    <!--    <a href="<?php echo U('home/'.$at.'/plus');?>" id="sample_editable_1_new" class="btn green">

                            新增商品 <i class="icon-plus"></i>

                        </a>-->

                    </div>

                    <div class="tabbable tabbable-custom tabbable-full-width">

                        <div class="tab-content">



                            <div id="tab_1_5" class="tab-pane active">

                                <div class="row-fluid search-forms search-default">

                                    <form class="form-search" method="get" action="{:U('home/'.$at.'/index')}">


                                        <div class="chat-form clearfix">

                                            <div class="input-cont" style="width:100%;float: left;margin-right: 20px;margin-bottom: 2px;min-width: 210px;">
                                                <input type="text" placeholder="搜索 商品名称" value="{$search_list.search}" name="search" class="m-wrap large">



                                                <select name="classify_id" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >分类筛选</option>
                                                    <option value="0" >全部</option>
                                                    <foreach name="classify_list" item="v">
                                                        <option <if condition="$search_list['classify_id'] eq  $v['id']"> selected </if> value="{$v.id}" >{$v.name}</option>
                                                    </foreach>

                                                </select>

                                                <select name="is_show" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_show'] eq 1"> selected </if> value="1" >已下架</option>
                                                    <option <if condition="$search_list['is_show'] eq 2"> selected </if> value="2" >上架中</option>
                                                </select>

                                                <select name="is_top" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >置顶状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_top'] eq 1"> selected </if> value="1" >未置顶</option>
                                                    <option <if condition="$search_list['is_top'] eq 2"> selected </if> value="2" >已置顶</option>
                                                </select>
                                                <select name="is_home" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >首页显示状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_home'] eq 1"> selected </if> value="1" >否</option>
                                                    <option <if condition="$search_list['is_home'] eq 2"> selected </if> value="2" >是</option>
                                                </select>

                                                <select name="is_freeze" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >冻结状态筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_freeze'] eq 1"> selected </if> value="1" >已冻结</option>
                                                    <option <if condition="$search_list['is_freeze'] eq 2"> selected </if> value="2" >正常</option>
                                                </select>

                                                <!--<select name="vip" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >vip等级筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['vip'] eq 1"> selected </if> value="1" >无</option>
                                                    <option <if condition="$search_list['vip'] eq 2"> selected </if> value="2" >月vip</option>
                                                    <option <if condition="$search_list['vip'] eq 3"> selected </if> value="3" >年vip</option>
                                                </select>-->

                                                <!--<select name="is_service" id="" style="line-height: 34px;height: 34px;">
                                                    <option value="" disabled >客服账号筛选</option>
                                                    <option value="0" >全部</option>
                                                    <option <if condition="$search_list['is_service'] eq 1"> selected </if> value="1" >正常账号</option>
                                                    <option <if condition="$search_list['is_service'] eq 2"> selected </if> value="2" >客服账号</option>
                                                </select>-->



                                                <input type="text" placeholder="开始时间 " value="{$search_list.search_date}" autocomplete="off" name="search_date" class="m-wrap large auto-kal">
                                                <input type="text" placeholder="结束时间 " value="{$search_list.search_date2}" autocomplete="off" name="search_date2" class="m-wrap large auto-kal">
                                            </div>

                                            <button type="submit" class="btn green">搜 索 &nbsp; <i class="m-icon-swapright m-icon-white"></i></button>

                                        </div>

                                    </form>

                                </div>

                                <div class="portlet-body" style="overflow: auto;">

                                    <table class="table table-striped table-hover" style="min-width: 860px;">

                                        <thead>

                                        <tr>
                                            <th>序号</th>
                                            <th>商品封面</th>
                                            <th>商品名称</th>
                                            <th>所属店铺</th>
                                            <th>价格</th>
                                            <th>库存</th>
                                            <th>销量</th>
                                            <th>包邮模板</th>
                                            <th>预约金状态</th>
                                            <th>预约金</th>
                                            <th>状态</th>
                                            <th>首页显示</th>
                                            <th>冻结状态</th>
                                            <th>是否代理返利</th>
                                            <th>分类</th>
                                            <th>是否置顶</th>
                                            <th>限购</th>
                                            <th>排序</th>
                                            <th>发布时间</th>
                                            <th>抽水比例</th>
                                            <th>操作</th>
                                        </tr>

                                        </thead>

                                        <tbody>
                                        <if condition="$list">
                                            <foreach name="list" item="v" key="key">
                                                <tr>

                                                    <td>
                                                        {$key+1}
                                                    </td>
                                                    <td>
                                                        <a class="fancybox-button" data-rel="fancybox-button" title="" href="{$v.cover}">
                                                            <img src="{$v.cover}" class="img45" alt="">
                                                        </a>
                                                    </td>

                                                    <td style="width: 15%">
                                                        {$v.name}
                                                    </td>

                                                    <td>
                                                        <a href="{:U('home/shop/check/edit/'.$v['shop_id'])}" target="_blank">{$v.shop_name}</a>
                                                    </td>

                                                    <td style="font-weight: bolder;color: #f00;">
                                                        ￥{$v.price}
                                                    </td>

                                                    <td>
                                                        {$v.stock}

                                                    </td>
                                                    <td>
                                                        {$v.sales}

                                                    </td>
                                                    <td>
                                                        <if condition="$v.postage_id neq 0">
                                                            {$v.postage_name}
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>
                                                    <td>
                                                        <if condition="$v.is_prepay eq 1">
                                                            <span style="color: green;">支持</span>
                                                        </if>
                                                        <if condition="$v.is_prepay eq 0">
                                                            <span style="color: #f00;">不支持</span>
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.is_prepay eq 1">
                                                            ￥{$v.prepay}
                                                            <else/>
                                                            -
                                                        </if>

                                                    </td>

                                                    <td>

                                                        <if condition="$v.is_show eq 1">
                                                            <a href="javascript:EditAll('{$v.id}','0','下架套餐','shop_goods','is_show')">
                                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上架中</font></font></span>
                                                            </a>
                                                        </if>

                                                        <if condition="$v.is_show eq 0">
                                                            <a href="javascript:EditAll('{$v.id}','1','上架套餐','shop_goods','is_show')">
                                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">已下架</font></font></span>
                                                            </a>
                                                        </if>

                                                    </td>


                                                    <td>
                                                        <if condition="$v.is_home eq 1">
                                                            <a href="javascript:EditAll('{$v.id}','0','取消首页显示','shop_goods','is_home')">
                                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是</font></font></span>
                                                            </a>
                                                        </if>

                                                        <if condition="$v.is_home eq 0">
                                                            <a href="javascript:EditAll('{$v.id}','1','设置首页显示','shop_goods','is_home')">
                                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">否</font></font></span>
                                                            </a>
                                                        </if>
                                                    </td>

                                                    <td>
                                                        <if condition="$v.is_freeze eq 1">
                                                            <a href="javascript:EditAll('{$v.id}','0','冻结商品','shop_goods','is_freeze')">
                                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">正常</font></font></span>
                                                            </a>
                                                        </if>

                                                        <if condition="$v.is_freeze eq 0">
                                                            <a href="javascript:EditAll('{$v.id}','1','解除冻结','shop_goods','is_freeze')">
                                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">已冻结</font></font></span>
                                                            </a>
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.is_fan eq 1">
                                                            <a href="javascript:EditAll('{$v.id}','0','取消商品的代理返利','shop_goods','is_fan')">
                                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是</font></font></span>
                                                            </a>
                                                        </if>

                                                        <if condition="$v.is_fan eq 0">
                                                            <a href="javascript:EditAll('{$v.id}','1','恢复商品的代理返利','shop_goods','is_fan')">
                                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">否</font></font></span>
                                                            </a>
                                                        </if>
                                                    </td>
                                                    <td>{$v.classify_name}</td>

                                                    <td>
                                                        <if condition="$v.is_top eq 1">
                                                            <a href="javascript:EditAll('{$v.id}','0','取消置顶','shop_goods','is_top')">
                                                                <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是</font></font></span>
                                                            </a>
                                                        </if>

                                                        <if condition="$v.is_top eq 0">
                                                            <a href="javascript:EditAll('{$v.id}','1','置顶','shop_goods','is_top')">
                                                                <span class="label label-important"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">否</font></font></span>
                                                            </a>
                                                        </if>
                                                    </td>
                                                    <td>
                                                        <if condition="$v.max eq 0">
                                                            未限购
                                                            <else/>
                                                            {$v.max}
                                                        </if>
                                                    </td>
                                                    <td>
                                                        {$v.sort}
                                                    </td>

                                                    <td>{$v.create_time|date="Y-m-d H:i",###}</td>
                                                    <td>
                                                      <span>
                                                            抽水比例：
                                                              <if condition="$v.odds neq NULL">
                                                                  {$v.odds} %
                                                              <else/>
                                                                  {$v.odds_set} %
                                                            </if>
                                                            <br>
                                                        </span>
                                                        <span>当前状态：
                                                            <if condition="$v.odds neq NULL">
                                                                <span style="color: green;">手动</span>
                                                                <else/>
                                                                <span style="color: dodgerblue;">默认</span>
                                                            </if>
                                                        </span>
                                                        <br>
                                                        <a href="javascript:editodds('{$v.id}','2')" class="btn green"> 手动设置</a>
                                                        <if condition="$v.odds neq NULL">
                                                            <a href="JavaScript:OddsMo('{$v.id}','2')" class="btn blue"> 恢复默认</a>
                                                        </if>
                                                    </td>
                                                    </td>
                                                    <td>

                                                        <a href="{:U('home/'.$at.'/plus/edit/'.$v['id'])}" class="btn blue"><i class="icon-edit"></i> 修改</a>
                                                        <a href="JavaScript:fahuo('{$v.id}')" class="btn green"><i class="icon-ok"></i> Banner排序</a>
                                                        <a href="{:U('home/'.$at.'/check/edit/'.$v['id'])}" class="btn green"> 查看详细</a>
                                                        <!--<a href="JavaScript:_deleteUser('{$v.id}','{$v.name}');" class="btn red"><i class="icon-trash"></i> 删除</a>-->
                                                    </td>
                                                </tr>
                                            </foreach>
                                            <else />
                                            <tr>
                                                <td colspan="10"><p class="no_data">暂时没有数据</p></td>
                                            </tr>
                                        </if>



                                        </tbody>

                                    </table>

                                </div>

                                <div class="space5"></div>

                                <div class="pagination pagination-right">
                                    <br/>
                                    <div class="page_div">
                                        <?php echo $page;?>
                                    </div>

                                </div>

                            </div>


                        </div>

                    </div>

                    <!--end tabbable-->

                </div>


                <div class="clearfix"></div>





            </div>

        </div>

        <!-- END PAGE CONTAINER-->

    </div>

    <!-- END PAGE -->

</div>


<!-- modal -->
<div id='modal_video' style="display: none;width: 100%;height: 100%;background: rgba(0,0,0,0.8);z-index: 10000000;position: fixed;top: 0;">

    <div style="margin: 80px auto 0;text-align: center;position: relative;" >
        <div style="position:absolute;top:-58px;right: 30%;">
            <i class="icon-remove-circle" style="font-size: 50px;color: #f00;"></i>
        </div>
        <div id="video_url" style="display: inline-block;max-height: 800px;">

        </div>
    </div>
</div>



<!-- modal -->
<div class="modal fade" id = 'modal_fahuo' style="display: none;">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_fahuo_title'>修改Banner排序</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="form-horizontal">
                    <div>
                        <table style="width: 100%; text-align: center;" border="1">
                            <tr style="line-height: 50px;">
                                <th style="width: 50%;">图片</th>
                                <th style="width: 20%;">排序</th>
                                <th style="width: 30%;">操作</th>
                            </tr>

                            <tbody id="banenr_sort">

                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal" style='margin-left:9px'>确 定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->




<!-- modal -->
<div class="modal fade" id = 'modal_odds' style="display: none;">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                </button>
                <i class="fa fa-question" style='margin-top:5px; width:30px; float:left;'></i>
                <h4 class="modal-title" id='modal_odds_title'>修改比例</h4>
            </div>
            <div class="modal-body">
                <form action="#" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">修改抽水比例</font></font></label>
                        <div class="controls">
                            <input type="number" placeholder="请输入要修改的抽水比例" name="odds_num"  value="" class="m-wrap medium">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal" >取 消</button>
                <button type="button" class="btn green" id='modal_odds_yes'  style='margin-left:9px'>确 定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ./modal -->

<!-- ./modal -->

<include file="common/footer"/>

<!-- END JAVASCRIPTS -->

</body>


<!-- END BODY -->

</html>

<script>

    function fahuo(id){
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/checkbanner'); ?>",
            data:{id:id},
            success: function (result) {
                $('#banenr_sort').html('');
                if(result.code == 1){

                    $('#modal_fahuo').modal('show');
                    $.each(result.list, function (index, item) {

                        $('#banenr_sort').append('<tr>' +
                            '<td><img src="'+item.img_url+'" style="width: 50px;height: 50px;"></td>' +
                            '<td><input type="text" id="edit_bc_'+item.id+'" value="'+item.sort+'"></td>' +
                            '<td>' +
                            '<a href="JavaScript:baocbanner(\''+item.id+'\')" class="btn blue"> 保存</a>' +
                            '</td>' +
                            '</tr>');
                    });
                }else{
                    showAlert(result.res);
                }
            }
        });




    }


    function baocbanner(id){
        var sort = $.trim($('#edit_bc_'+id).val());
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/baocbanner'); ?>",
            data:{id:id,sort:sort},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                }else{
                    showAlert(result.res);
                }
            }
        });
    }

    function OpenVideo(url){
        $('#video_url').append('  <video  controls autoplay style="max-height: 800px;">' +
        ' <source src="movie.ogg" type="video/ogg">' +
        ' <source  src="'+url+'" type="video/mp4"> ' +
        '<source src="movie.webm" type="video/webm"> ' +
        '<object data="movie.mp4" width="320" height="240"> ' +
        '<embed width="320" height="240" src="movie.swf"> ' +
        '</object> ' +
        '</video>');
        $('#modal_video').show();
    }
    function CloseVideo(){
        $('#video_url').html('');
        $('#modal_video').hide();
    }
    $('#modal_video').click(function(){
        $("#video_url").click(function(){
            return false;  //阻止事件冒泡到父级DIV
        })
        CloseVideo();
    });
    function _deleteUser(id,name){
        showConfirm('<i class="icon-exclamation-sign"></i> 删除商品','确定要删除该商品'+name+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/delete'); ?>",
                data:{id:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function OddsMo(id,type){
        showConfirm('<i class="icon-exclamation-sign"></i> 恢复默认','确定要将此比例恢复默认，使用系统设置比例吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/'.$at.'/editmo'); ?>",
                data:{id:id,type:type,is_edit:id},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function editodds(id,type){
        $('#modal_odds').modal('show');
        $('#modal_odds_yes')[0].onclick=function(){
            //$('#modal_confirm').modal('hide');
            Submitodds(id,type);
        };
    }

    function Submitodds(id,type){
        var odds_num = $.trim($("*[name='odds_num']").val());
        if(odds_num==''){
            showAlert("请输入要修改的抽水比例");
            return false;
        }
        $.ajax({
            type: 'POST',
            url: "<?php echo U('home/'.$at.'/editodds'); ?>",
            data:{id:id,type:type,odds:odds_num,is_edit:id},
            success: function (result) {
                if(result.code == 1){
                    showAlert(result.res);
                    window.location.reload();
                }else{
                    showAlert(result.res);
                }
            }
        });

    }


    function EditStatus(id,str,title,db){
        var name;
        if(str=='1'){
            name = '显示';
        }else{
            name = '隐藏';
        }
        showConfirm('<i class="icon-exclamation-sign"></i> '+name+title,'确定要'+name+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editshow'); ?>",
                    data:{id:id,str:str,db:db},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }

    function EditAll(id,str,title,db,value){

        showConfirm('<i class="icon-exclamation-sign"></i> '+title,'确定要 '+title+' 吗?',function(){
            $.ajax({
                type: 'POST',
                url: "<?php echo U('home/public/editall'); ?>",
                data:{id:id,str:str,db:db,value:value},
                success: function (result) {
                    if(result.code == 1){
                        showAlert(result.res);
                        window.location.reload();
                    }else{
                        showAlert(result.res);
                    }
                }
            });
        });
    }


    function EditData(id)
    {
        location.href = "<?php echo U('home/GameAdd/index/edit_id/"+id+"');?>";
    }
</script>